body {
	margin: 0;
	height: 0;
	background: rgb(240, 240, 250);
}

#wrapper {
	min-height: 320px;
}

#content {
	padding: 10px;
}

p {
	font-family: Helvetica, Arial, sans-serif;
	color: rgb(75, 75, 75);
	margin: 0;
}

a {
	text-decoration: none;
	color: rgb(44, 175, 227);
}