html {
	
}

body {
	margin: 0;
	padding: 0;
	background: rgb(240, 240, 250);
}

#mobileBody {
	background: rgb(240, 240, 250);
}

#wrapper {
	min-height: 320px;
}

#content, #contentNoPad {
	overflow: hidden;
}

#content {
	padding: 10px;
}

#contentNoPad {
	padding: 0px;
}

p {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: rgb(75, 75, 75);
	margin: 0;
	word-wrap: break-word;
}

a, #anchor {
	text-decoration: none;
	color: rgb(44, 175, 227);
}

.flash {
	max-width: 400px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	text-align: center;
	padding: 10px;
	margin: 0 auto;
	margin-bottom: 10px;
	-webkit-box-sizing: border-box;
}

.success {
	background: rgb(230, 239, 194);
	border: 1px solid rgb(110, 220, 90);
	color: rgb(38, 68, 9);
}

.error {
	background: rgb(251, 227, 228);
	border: 1px solid rgb(255, 26, 0);
	color: rgb(138, 31, 17);
}

.notice {
	background: rgb(255, 246, 191);
	border: 1px solid rgb(255, 211, 36);
	color: rgb(81, 71, 33);
}

.clear {
	height: 0;
	font-size: 1px;
	margin: 0;
	padding: 0;
	line-height: 0;
	clear: both;
}

.red {
	color: rgb(255, 26, 0);
}

.anchorBlue {
	color: rgb(44, 175, 227);
}