#meAccount, #meAccount2 {
	padding: 0;
	margin: 0;
	list-style-type: none;
	background: rgb(255, 255, 255);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
}

#meAccount {
	margin-bottom: 20px;
}

#meAccount li a, #meAccount2 li a {
	display: block;
	padding: 10px;
	border-bottom: 1px dotted rgb(200, 200, 200);
	color: rgb(44, 175, 227);
	text-decoration: none;
}

#meAccount li a.noBorder, #meAccount2 li a.noBorder {
	border: none;
}