#meAccount ul {
	padding: 0;
	margin: 10px 0 0 0;
	list-style-type: none;
	border-top: 1px dotted rgb(200, 200, 200);
}

#meAccount ul li {
}

#meAccount ul li a {
	display: block;
	padding: 10px;
	border-bottom: 1px dotted rgb(200, 200, 200);
	color: rgb(44, 175, 227);
	background: rgb(255, 255, 255);
	text-decoration: none;
}