.pagination {
	padding: 5px 0px;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
}

.pagination a {
	font-size: 0px;
	color: rgb(44, 175, 227);
}

.pagination em {
	font-size: 0px;
}

.previous_page {
	float: left;
	margin-left: 10px;
	display: block;
	font-size: 0px;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 30px solid rgb(75, 75, 75);
}

.previous_page:hover, .previous_page:active {
	border-right: 30px solid rgb(150, 150, 150);
}

.next_page {
	float: right;
	margin-right: 10px;
	display: block;
	font-size: 0px;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 30px solid rgb(75, 75, 75);
}

.next_page:hover, .next_page:active {
	border-left: 30px solid rgb(150, 150, 150);
}

.disabled {
	display: none;
}