<%= form_for current_user.send_messages.build, :remote => true, :html => { "data-ajax" => false } do |f| %>
	<div class="actions">
		<%= f.submit "Send Message", "data-role" => "none" %>
	</div>
	<div class="field">
		<%= f.text_area :content, :placeholder => "Write your message here...", "data-role" => "none" %>
		<%= hidden_field_tag :friend_name, @sender.name %>
	</div>
<% end %>