<div id="comment_form">
	<%= form_for current_user.comments.build(:deal_id => @deal.id), :remote => true do |f| %>
		<div class="field">
			<%= f.text_area(:content, :placeholder => "Comment on this deal...", :onclick => "makeCommentBigger();") %>
			<%= f.hidden_field :deal_id %>
		</div>
		<div id="comment_submit" class="actions">
			<%= f.submit "Submit" %>
		</div>
	<% end %>
</div>
<script>
$(document).ready(function() {
	// auto resize of text area
	$('.field #comment_content').autoResize();
	// disable submit if empty or just submitted
	var commentSubmit = $('#comment_submit input');
	commentSubmit.on('click', function() {
		var commentContent = $('#comment_form #comment_content').val();
		if (commentContent === "") {
			return false;
		}
		else if (commentSubmit.hasClass("noClick")) {
			return false;
		}
		else {
			commentSubmit.addClass("noClick");
		};
	});
});
</script>