<div class="flash notice">
	<%= link_to image_tag("/assets/close.png"), "javascript: void(0);", :onclick => "closeFlashUp()", :class => "flash_close" %>If you want to share, please choose a friend to share with.
</div>