<div class="flash notice">
	Your friend is already watching this deal.<%= link_to image_tag("/assets/close.png"), "javascript: void(0);", :onclick => "closeFlashUp()", :class => "flash_close" %>
</div>