<div class="flash notice">
	<%= link_to image_tag("/assets/close.png"), "javascript: void(0);", :onclick => "closeFlashUp()", :class => "flash_close" %>Unable to share, perhaps this deal has already been shared...
</div>