<%= form_for current_user.shares.build, :remote => true do |f| %>
	<div class="field">
		<%= f.hidden_field :deal_id, :value => @deal.id %>
		<%= hidden_field_tag :friend_name, 0 %>
	</div>
	<div class="actions">
		<%= f.submit "Share", :onmouseover => "showShareAllInfo()", :onmouseout => "hideShareAllInfo()", :onclick => "hideShareAllInfo()" %>
	</div>
<% end %>		