div#deal_info, div#deal_info2 {
  float: right;
  background: #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
	border-radius: 10px;
	border: 2px solid #94DEF0;
}

div#deal_info {
	padding: 2%;
	width: 75%;
	margin-bottom: 5px;
}

div#deal_info h1 {
	font-size: 30px;
	font-family: Helvetica;
	color: #4B4B4B;
}

div#deal_info2 {
	width: 79%;
}

div#deal_data {
	width: 100%;
}

div.deal_show_image {
	width: 425px;
	height: 250px;
	border: 2px solid #94DEF0;
	padding: 5px;
	-webkit-box-shadow: 0px 0px 20px rgba(150, 150, 150, .75);
	-moz-box-shadow: 0px 0px 20px rgba(150, 150, 150, .75);
	-ms-box-shadow: 0px 0px 20px rgba(150, 150, 150, .75);
	-o-box-shadow: 0px 0px 20px rgba(150, 150, 150, .75);
	box-shadow: 0px 0px 20px rgba(150, 150, 150, .75);
	text-align: center;
}

div.deal_show_image div#deal_image_container {
	width: 425px;
	height: 250px;
	text-align: center;
}

div.deal_show_image img#deal_image {
	max-width: 425px;
	max-height: 250px;
	position: relative;
}

div.deal_show_image div#deal_show_lightning {
	float: left;
	height: 0px;
	position: relative;
	bottom: 20px;
	right: 20px;
}

div.deal_show_image div#deal_show_lightning img {
	width: 20px;
	height: 20px;
	padding: 4px 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRiNGI0YiIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YjRiNGIiIHN0b3Atb3BhY2l0eT0iMC43NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(75,75,75,0.75) 0%, rgba(75,75,75,0.75) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(75,75,75,0.75)), color-stop(100%,rgba(75,75,75,0.75))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(75,75,75,0.75) 0%,rgba(75,75,75,0.75) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(75,75,75,0.75) 0%,rgba(75,75,75,0.75) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(75,75,75,0.75) 0%,rgba(75,75,75,0.75) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(75,75,75,0.75) 0%,rgba(75,75,75,0.75) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf4b4b4b', endColorstr='#bf4b4b4b',GradientType=0 ); /* IE6-8 */
}

div.deal_show_image span#price {
	padding: 20px;
	font-family: Helvetica, Arial;
	font-size: 28px;
	color: rgb(255, 255, 255);
	border-top: 2px solid rgb(148, 222, 240);
	border-left: 2px solid rgb(148, 222, 240);
	-webkit-border-top-left-radius: 25px;
	-moz-border-radius-topleft: 25px;
	-ms-border-top-left-radius: 25px;
	-o-border-top-left-radius: 25px;
	border-top-left-radius: 25px;
	float: right;
	position: relative;
	left: 5px;
	bottom: 68px;
	margin-bottom: -68px;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: -1px -1px 10px -1px rgba(75, 75, 75, .85);
	-moz-box-shadow: -1px -1px 10px -1px rgba(75, 75, 75, .85);
	-ms-box-shadow: -1px -1px 10px -1px rgba(75, 75, 75, .85);
	-o-box-shadow: -1px -1px 10px -1px rgba(75, 75, 75, .85);
	box-shadow: -1px -1px 10px -1px rgba(75, 75, 75, .85);
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJjYWZlMyIgc3RvcC1vcGFjaXR5PSIwLjg1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyY2FmZTMiIHN0b3Atb3BhY2l0eT0iMC44NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(44,175,227,0.85) 0%, rgba(44,175,227,0.85) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,175,227,0.85)), color-stop(100%,rgba(44,175,227,0.85))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(44,175,227,0.85) 0%,rgba(44,175,227,0.85) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(44,175,227,0.85) 0%,rgba(44,175,227,0.85) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(44,175,227,0.85) 0%,rgba(44,175,227,0.85) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(44,175,227,0.85) 0%,rgba(44,175,227,0.85) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d92cafe3', endColorstr='#d92cafe3',GradientType=0 ); /* IE6-8 */
}

div#deal_functions {
	width: 274px;
	float: right;
}

div#deal_button {
	text-align: center;
	background: #C8EFF9;
	border: 2px solid rgb(148, 222, 240);
	border-left: none;
	padding: 20px 0px;
	margin-top: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-ms-border-top-right-radius: 10px;
	-o-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-ms-border-bottom-right-radius: 10px;
	-o-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

div#deal_button a {
	text-shadow: 0px -1px 1px rgba(0, 0, 0, .25);
	font-size: 28px;
	text-decoration: none;
	padding: 10px 20px;
	border-right: 1px solid rgb(61, 174, 31);
	border-bottom: 1px solid rgb(61, 174, 31);
	color: rgb(255, 255, 255);
	font-family: Verdana;
	font-weight: bold;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	-webkit-box-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
	-moz-box-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
	-ms-box-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
	-o-box-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
	box-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
}

div#deal_button a {
	background-image: url("/assets/deal_now.png");
}

div#deal_button a:hover, div#deal_button a:focus {
	background-image: url("/assets/deal_now_hover.png");
	border-right: 1px solid rgb(41, 154, 11);
	border-bottom: 1px solid rgb(41, 154, 11);
}

div#deal_button a:active {
	background-image: url("/assets/deal_now_active.png");
}

div#deal_stats {
	height: 59px;
	text-align: center;
	background: rgb(200, 239, 249);
	border: 2px solid rgb(148, 222, 240);
	border-left: none;
	margin-top: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-ms-border-top-right-radius: 10px;
	-o-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-ms-border-bottom-right-radius: 10px;
	-o-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

div#deal_stats ul {
	margin: 0;
	padding: 10px 0px;
}

div#deal_stats ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0px 10px;
}

div#deal_stats p {
	font-size: 12px;
	color: rgb(150, 150, 150);
	font-family: Verdana;
	margin-bottom: 5px;
}

div#deal_stats span.deal_stats {
	color: rgb(75, 75, 75);
	font-size: 14px;
	font-family: Verdana;
}

div#share {
	text-align: center;
	background: rgb(200, 239, 249);
	border: 2px solid rgb(148, 222, 240);
	border-left: none;
	margin-top: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-ms-border-top-right-radius: 10px;
	-o-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-ms-border-bottom-right-radius: 10px;
	-o-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

div#share ul {
	height: 51px;
	margin: 0;
	padding: 10px 0px;
	padding-left: 30px;
}

div#share ul li{
	height: 51px;
	list-style-type: none;
	display: inline;
	padding: 0px 10px;
	float: left;
}

div#share ul li#facebook_buttons_li {

}

div#share ul li a {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	opacity: .8;
}

div#share ul li a:hover {
	opacity: 1;
}

div#share img {
	width: 51px;
	height: 51px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
	-moz-box-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
	-ms-box-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
	-o-box-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
	box-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
}

div#share ul#facebook_buttons {
	padding: 0;
	width: 75px;
}

div#share ul#facebook_buttons li {
	display: block;
	height: 22px;
	padding: 2px 0px;
	width: 75px;
}

div.fb-like {
	float: left;
}

div.fb-send {
	float: left;
}

div#deal_summary_container {
	min-height: 110px;
	margin-bottom: 15px;
}

div#info {
	width: 481px;
	padding: 0px 2%;
	float: left;
	vertical-align: top;
	margin-bottom: 20px;
	margin-top: -14px;
}

div#deal_side_panel {
	width: 225px;
	float: right;
	padding-right: 2%;
}

div#info p {
	line-height: 19px;
	font-size: 14px;
	margin-bottom: 14px;
}

div#deal_summary {
	width: 100px;
	height: 100px;
	float: left;
}

div#deal_summary_side_panel {
	width: 125px;
	height: 100px;
	float: right;
}

div#coupon_rebate {
	width: 213px;
	text-align: center;
	padding: 5px;
	margin: 10px 0px;
	border: 1px solid rgb(200, 200, 200);
}

div#deal_show_rebate {
	margin-top: 10px;
}

div#deal_show_coupon h1 {
	font-size: 14px;
	font-weight: bold;
	color: rgb(75, 75, 75);
	margin-bottom: 5px;
}

div#deal_show_coupon p {
	font-size: 12px;
	margin: 0;
}

div#deal_show_rebate h1 {
	font-size: 14px;
	font-weight: bold;
	color: rgb(75, 75, 75);
	margin-bottom: 5px;
}

div#deal_show_rebate p {
	font-size: 12px;
	width: 213px;
	height: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
}

div.summary {
	width: 100%;
	text-align: center;
	vertical-align: bottom;
}

div.add_deal {
	width: 100%;
	margin-bottom: 8px;
	text-align: right;
}

div#deal_summary_side_panel p {
	font-size: 12px;
	color: rgb(150, 150, 150);
	padding: 10px 0px;
}

div#deal_summary_side_panel div#deal_watchers a {
	text-decoration: none;
	font-size: 12px;
	font-family: Helvetica;
	color: rgb(150, 150, 150);
}

div#deal_summary_side_panel div#deal_watchers a:hover {
	color: rgb(175, 175, 175);
	text-decoration: underline;
}

div#flash_points {
	width: 100%;
}

div#deal_info2 h2 {
	font-family: Verdana;
	font-size: 20px;
	color: rgb(44, 175, 227);
	padding-top: 2%;
	padding-left: 2%;
	margin-bottom: 10px;
}

div#total_score {
	text-align: center;
}

div#total_score h1 {
	font-size: 50px;
	font-family: Helvetica, Arial;
	font-weight: bold;
	color: rgb(150, 150, 150);
	padding: 0;
	margin: 0;
	text-shadow: 0px 1px 1px rgba(75, 75, 75, .75);
}

div#scoring_partial {
	float: right;
	width: 30%;
	text-align: center;
}

div#scoring {
	height: 100%;
	width: 100%;
}

div#scoring a {
	padding: 0;
	margin: 0;
	text-decoration: none;
}

div#up {
	margin: 0;
	margin-bottom: 5px;
	text-align: center;
}

div#down {
	margin: 0;
	margin-top: 5px;
	text-align: center;
}

a#like, a#dislike {
	display: block;
	width: 40px;
	height: 20px;
	margin: auto;
}

div#like_arrow {
	height: 0px;
	width: 0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid rgb(44, 175, 227);
	-webkit-transition: all .2s ease-in-out;
	-khtml-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

div#like_arrow:hover {
	height: 0px;
	width: 0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid rgb(4, 135, 187);
}

div#like_arrow:active {
	height: 0px;
	width: 0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid rgb(48, 157, 207);
}

div#dislike_arrow {
	height: 0px;
	width: 0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid rgb(44, 175, 227);
	-webkit-transition: all .2s ease-in-out;
	-khtml-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

div#dislike_arrow:hover {
	height: 0px;
	width: 0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid rgb(4, 135, 187);
}

div#dislike_arrow:active {
	height: 0px;
	width: 0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid rgb(48, 157, 207);
}

div#up img, div#down img {
	width: 40px;
	height: 40px;
}

div#up img, div#down img {
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-ms-transition: all .1s linear;
	-o-transition: all .1s linear;
	transition: all .1s linear;
}

div#up img:hover, div#down img:hover {
	opacity: .75;
}

#red {
	color: rgb(255, 26, 0);
}

#red:hover {
	color: rgb(255, 76, 50);
}

#blue {
	color: rgb(48, 157, 207);
}

#blue:hover {
	color: rgb(158, 232, 250);
}

div#the_flash {
	padding-bottom: 3%;
	padding-left: 3%;
	padding-right: 3%;
}

div#the_flash h1 {
	font-family: Verdana;
	font-size: 20px;
	color: rgb(44, 175, 227);
	margin-top: 10px;
	margin-bottom: 14px;
}

div#watch_form {
	vertical-align: middle;
}

div#watch_form input {
	background: none;
	font-size: 20px;
	font-family: Verdana;
	font-weight: bold;
	border: none;
	color: rgb(255, 255, 255);
	padding: 10px;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid rgb(44, 175, 227);
	-webkit-box-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
	-moz-box-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
	-ms-box-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
	-o-box-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
	box-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
	text-shadow: 0px -1px 1px rgba(0, 0, 0, .25);
}

div#watch_form input {
	background: rgb(173,217,228); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FkZDllNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyY2FmZTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(173,217,228,1) 0%, rgba(44,175,227,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(173,217,228,1)), color-stop(100%,rgba(44,175,227,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(173,217,228,1) 0%,rgba(44,175,227,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(173,217,228,1) 0%,rgba(44,175,227,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(173,217,228,1) 0%,rgba(44,175,227,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(173,217,228,1) 0%,rgba(44,175,227,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#add9e4', endColorstr='#2cafe3',GradientType=0 ); /* IE6-8 */
}

div#watch_form input:hover, div#watch_form input:focus {
	background: rgb(163,207,218); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EzY2ZkYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMmE1ZDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(163,207,218,1) 0%, rgba(34,165,217,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(163,207,218,1)), color-stop(100%,rgba(34,165,217,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(163,207,218,1) 0%,rgba(34,165,217,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(163,207,218,1) 0%,rgba(34,165,217,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(163,207,218,1) 0%,rgba(34,165,217,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(163,207,218,1) 0%,rgba(34,165,217,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3cfda', endColorstr='#22a5d9',GradientType=0 ); /* IE6-8 */
	border: 1px solid rgb(4, 135, 187);
}

div#watch_form input:active {
	background: rgb(34,165,217); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyYTVkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhM2NmZGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(34,165,217,1) 0%, rgba(163,207,218,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(34,165,217,1)), color-stop(100%,rgba(163,207,218,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(34,165,217,1) 0%,rgba(163,207,218,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(34,165,217,1) 0%,rgba(163,207,218,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(34,165,217,1) 0%,rgba(163,207,218,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(34,165,217,1) 0%,rgba(163,207,218,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22a5d9', endColorstr='#a3cfda',GradientType=0 ); /* IE6-8 */
	-webkit-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	-moz-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	-ms-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	-o-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
}

div#watch_form a#watch_button_anchor {
	margin: auto;
	text-decoration: none;
	display: block;
	width: 71px;
	height: 25px;
	font-size: 20px;
	font-family: Verdana;
	font-weight: bold;
	color: rgb(255, 255, 255);
	padding: 10px;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid rgb(4, 135, 187);
	-webkit-box-shadow: 1px 1px 10px rgba(150, 150, 150, 1);
	-moz-box-shadow: 1px 1px 10px rgba(150, 150, 150, 1);
	-ms-box-shadow: 1px 1px 10px rgba(150, 150, 150, 1);
	-o-box-shadow: 1px 1px 10px rgba(150, 150, 150, 1);
	box-shadow: 1px 1px 10px rgba(150, 150, 150, 1);
	text-shadow: 0px -1px 1px rgba(0, 0, 0, .25);
}

div#watch_form a#watch_button_anchor {
	background: rgb(173,217,228); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FkZDllNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyY2FmZTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(173,217,228,1) 0%, rgba(44,175,227,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(173,217,228,1)), color-stop(100%,rgba(44,175,227,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(173,217,228,1) 0%,rgba(44,175,227,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(173,217,228,1) 0%,rgba(44,175,227,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(173,217,228,1) 0%,rgba(44,175,227,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(173,217,228,1) 0%,rgba(44,175,227,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#add9e4', endColorstr='#2cafe3',GradientType=0 ); /* IE6-8 */
}

div#watch_form a#watch_button_anchor:hover, div#watch_form a#watch_button_anchor:focus {
	background: rgb(163,207,218); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EzY2ZkYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMmE1ZDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(163,207,218,1) 0%, rgba(34,165,217,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(163,207,218,1)), color-stop(100%,rgba(34,165,217,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(163,207,218,1) 0%,rgba(34,165,217,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(163,207,218,1) 0%,rgba(34,165,217,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(163,207,218,1) 0%,rgba(34,165,217,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(163,207,218,1) 0%,rgba(34,165,217,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3cfda', endColorstr='#22a5d9',GradientType=0 ); /* IE6-8 */
	border: 1px solid rgb(4, 135, 187);
}

div#watch_form a#watch_button_anchor:active {
	background: rgb(34,165,217); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyYTVkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhM2NmZGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(34,165,217,1) 0%, rgba(163,207,218,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(34,165,217,1)), color-stop(100%,rgba(163,207,218,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(34,165,217,1) 0%,rgba(163,207,218,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(34,165,217,1) 0%,rgba(163,207,218,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(34,165,217,1) 0%,rgba(163,207,218,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(34,165,217,1) 0%,rgba(163,207,218,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22a5d9', endColorstr='#a3cfda',GradientType=0 ); /* IE6-8 */
	-webkit-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	-moz-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	-ms-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	-o-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;	
}

div#delete_deal {
	padding: 2%;
	text-align: center;
}

div#delete_deal a {
	text-decoration: none;
	font-family: Verdana;
	font-size: 12px;
	color: rgb(44, 175, 227);
	-webkit-transition: all .2s ease-in-out;
	-khtml-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

div#delete_deal a:hover {
	color: rgb(4, 135, 187);
	text-decoration: underline;
}

div#delete_deal ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div#delete_deal li {
	display: inline;
	padding: 0px 10px;
}

div#view_and_click_count {
	margin: 5px 10px 5px 5px;
	float: right;
	font-family: Verdana;
	font-size: 12px;
	color: rgb(150, 150, 150);
}

div#comment_and_point_count {
	margin: 5px 10px 5px 5px;
	float: right;
	font-family: Verdana;
	font-size: 12px;
	color: rgb(150, 150, 150);
}

div#watch_deal_info {
	display: none;
	padding: 10px;
	color: rgb(255, 255, 255);
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	height: 14px;
	width: 365px;
	font-family: Verdana;
	font-size: 12px;
	margin-top: -45px;
	margin-left: -45px;
	margin-bottom: 11px;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRiNGI0YiIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzRiNGI0YiIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  rgba(75,75,75,0.9) 0%, rgba(75,75,75,0.9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(75,75,75,0.9)), color-stop(100%,rgba(75,75,75,0.9))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(75,75,75,0.9) 0%,rgba(75,75,75,0.9) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(75,75,75,0.9) 0%,rgba(75,75,75,0.9) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(75,75,75,0.9) 0%,rgba(75,75,75,0.9) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(75,75,75,0.9) 0%,rgba(75,75,75,0.9) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e64b4b4b', endColorstr='#e64b4b4b',GradientType=0 ); /* IE6-8 */
}

div#watch_deal_info_triangle {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid rgb(75, 75, 75);
	position: relative;
	top: 9px;
	left: 165px;
}

div#share_all_info {
	display: none;
	padding: 10px;
	background: rgb(75, 75, 75);
	color: rgb(255, 255, 255);
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	height: 14px;
	width: 263px;
	font-family: Verdana;
	font-size: 12px;
	margin-top: -45px;
	margin-left: -45px;
	margin-bottom: 11px;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRiNGI0YiIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzRiNGI0YiIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  rgba(75,75,75,0.9) 0%, rgba(75,75,75,0.9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(75,75,75,0.9)), color-stop(100%,rgba(75,75,75,0.9))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(75,75,75,0.9) 0%,rgba(75,75,75,0.9) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(75,75,75,0.9) 0%,rgba(75,75,75,0.9) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(75,75,75,0.9) 0%,rgba(75,75,75,0.9) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(75,75,75,0.9) 0%,rgba(75,75,75,0.9) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e64b4b4b', endColorstr='#e64b4b4b',GradientType=0 ); /* IE6-8 */
}

div#share_all_info_triangle {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid rgb(75, 75, 75);
	position: relative;
	top: 9px;
	left: 125px;
}

div#coupon_popup {
	border: 10px solid rgb(150, 150, 150);
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 10px rgba(75, 75, 75, .5);
	-khtml-box-shadow: 0px 0px 10px rgba(75, 75, 75, .5);
	-moz-box-shadow: 0px 0px 10px rgba(75, 75, 75, .5);
	-ms-box-shadow: 0px 0px 10px rgba(75, 75, 75, .5);
	-o-box-shadow: 0px 0px 10px rgba(75, 75, 75, .5);
	box-shadow: 0px 0px 10px rgba(75, 75, 75, .5);
	position: absolute;
	width: 500px;
	z-index: 100;
	margin: auto;
	top: 150px;
	left: 0;
	right: 0;
	background: rgb(255, 255, 255);
	display: none;
}

div#close_coupon_popup {
	height: 42px;
	background: rgb(173, 217, 228);
}

div#close_coupon_popup h1 {
	font-family: Verdana;
	font-size: 22px;
	color: rgb(44, 175, 227);
	width: 250px;
	margin: 0;
	padding: 10px;
}

div#close_coupon_popup a {
	float: right;
	display: block;
	width: 32px;
	height: 32px;
	-webkit-transition: all .2s ease-in-out;
	-khtml-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

div#close_coupon_popup a:hover {
	opacity: .75;
}

div#coupon_popup_info {
	width: 100%;
	padding: 10px 0px 20px 0px;
}

div#coupon_popup_info table {
	width: 100%;
}

div#coupon_popup_info table tr {
	width: 100%;
}

div#coupon_popup_info table tr td#coupon_rebate_label {
	width: 175px;
	font-family: Verdana;
	font-size: 16px;
	color: rgb(75, 75, 75);
	padding: 10px 0px;
	padding-right: 10px;
	text-align: right;
}

div#coupon_popup_info table tr td#coupon_rebate_info {
	width: 315px;
	font-family: Verdana;
	font-size: 16px;
	color: rgb(75, 75, 75);
	padding: 0;
}

div#coupon_popup_info table tr td#coupon_rebate_info p {
	width: 300px;
	height: 19px;
	overflow: hidden;
	text-overflow: ellipsis;
}

div#coupon_rebate_continue {
	text-align: right;
	margin-top: 15px;
	margin-right: 15px;
}

div#coupon_rebate_continue a {
	text-shadow: 0px -1px 1px rgba(0, 0, 0, .25);
	font-size: 18px;
	text-decoration: none;
	padding: 6px 12px;
	border: 1px solid rgb(61, 174, 31);
	color: rgb(255, 255, 255);
	font-family: Verdana;
	font-weight: bold;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	-webkit-box-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
	-moz-box-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
	-ms-box-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
	-o-box-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
	box-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
}

div#coupon_rebate_continue a {
	background: rgb(180,227,145); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I0ZTM5MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iIzYxYzUxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  rgba(180,227,145,1) 0%, rgba(97,197,25,1) 75%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(180,227,145,1)), color-stop(75%,rgba(97,197,25,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(180,227,145,1) 0%,rgba(97,197,25,1) 75%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(180,227,145,1) 0%,rgba(97,197,25,1) 75%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(180,227,145,1) 0%,rgba(97,197,25,1) 75%); /* IE10+ */
	background: linear-gradient(top,  rgba(180,227,145,1) 0%,rgba(97,197,25,1) 75%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#61c519',GradientType=0 ); /* IE6-8 */
}

div#coupon_rebate_continue a:hover, div#coupon_rebate_continue a:focus {
	background: rgb(170,217,135); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FhZDk4NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iIzU3YmEwZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  rgba(170,217,135,1) 0%, rgba(87,186,15,1) 75%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(170,217,135,1)), color-stop(75%,rgba(87,186,15,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(170,217,135,1) 0%,rgba(87,186,15,1) 75%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(170,217,135,1) 0%,rgba(87,186,15,1) 75%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(170,217,135,1) 0%,rgba(87,186,15,1) 75%); /* IE10+ */
	background: linear-gradient(top,  rgba(170,217,135,1) 0%,rgba(87,186,15,1) 75%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aad987', endColorstr='#57ba0f',GradientType=0 ); /* IE6-8 */
	border: 1px solid rgb(41, 154, 11);
}

div#coupon_rebate_continue a:active {
	background: rgb(87,186,15); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyNSUiIHN0b3AtY29sb3I9IiM1N2JhMGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYWFkOTg3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  rgba(87,186,15,1) 25%, rgba(170,217,135,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,rgba(87,186,15,1)), color-stop(100%,rgba(170,217,135,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(87,186,15,1) 25%,rgba(170,217,135,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(87,186,15,1) 25%,rgba(170,217,135,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(87,186,15,1) 25%,rgba(170,217,135,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(87,186,15,1) 25%,rgba(170,217,135,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57ba0f', endColorstr='#aad987',GradientType=0 ); /* IE6-8 */
	-webkit-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	-moz-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	-ms-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	-o-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
}