/* edit.css */
div#edit {
	display: block;
	width: 450px;
	float: left;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(148, 222, 240);
}

div#edit_header {
	background: rgb(173, 217, 228);
	padding: 20px;
}

div#edit_header h1 {
	font-family: Verdana;
	font-size: 22px;
	color: rgb(44, 175, 227);
	margin: 0;
}

div#edit_gravatar {
	text-align: center;
	width: 211px;
	height: 211px;
	margin: auto;
	margin-top: 20px;
}

div#edit_gravatar img {
	-webkit-box-shadow: 0px 0px 15px rgba(150, 150, 150, 1);
	-moz-box-shadow: 0px 0px 15px rgba(150, 150, 150, 1);
	-ms-box-shadow: 0px 0px 15px rgba(150, 150, 150, 1);
	-o-box-shadow: 0px 0px 15px rgba(150, 150, 150, 1);
	box-shadow: 0px 0px 15px rgba(150, 150, 150, 1);
}

div#edit_form {
	padding: 20px;
	text-align: right;
}

div#edit_form p {
	font-weight: bold;
	vertical-align: top;
}

div#edit_form div.field input#user_photo {
	padding: 0;
	width: 310px;
	padding: 5px 0px;
	text-indent: 5px;
}

div#edit_form div.field input {
	width: 300px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid rgb(200, 200, 200);
	padding: 5px;
	font-family: Verdana;
	font-size: 14px;
	color: rgb(75, 75, 75);
	margin-top: 10px;
	margin-bottom: 10px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	webkit-transition:all .2s ease-in-out;
	-webkit-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	-moz-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	-ms-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	-o-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
}

div#edit_form div.field input:hover {
	border: 1px solid rgb(150, 150, 150);
}

div#edit_form div.field input:focus {
	border: 1px solid rgb(48, 157, 207);
	-webkit-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	-moz-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	-ms-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	-o-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
}

div#edit_form div#error_explanation {
	width: 410px;
	margin: 0;
	padding: 0;
}

div#edit_form div#error_explanation ul {
	padding: 0;
	margin: 0;
	padding-left: 40px;
	margin-bottom: 10px;
}

div#edit_form div#error_explanation ul li {
	text-align: left;
	font-family: Verdana;
	font-size: 12px;
	color: rgb(255, 26, 0);
	margin-bottom: 5px;
}

div.change_edit {
	padding-bottom: 20px;
	text-align: center;
}

div.change_edit a {
	font-family: Verdana;
	font-size: 12px;
	color: rgb(44, 175, 227);
	text-decoration: none;
}

div.change_edit a:hover {
	color: rgb(4, 135, 187);
}

/* edit_settings.css */
div#edit_more {
	width: 450px;
	float: right;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(148, 222, 240);
}

div#edit_more_header {
	background: rgb(173, 217, 228);
	padding: 20px;
}

div#edit_more_header h1 {
	font-family: Verdana;
	font-size: 22px;
	color: rgb(44, 175, 227);
	margin: 0;
}

div#edit_more_form {
	padding: 10px 20px;
	text-align: right;
}

div#edit_more_form p {
	font-weight: bold;
	vertical-align: top;
}

div#edit_more_form div.private {
	margin-bottom: 10px;
	text-align: center;
	border-top: 1px solid rgb(200, 200, 200);
	border-bottom: 1px solid rgb(200, 200, 200);
	padding: 10px 0px 20px 0px;
}

div#edit_more_form div.private span {
	font-family: Verdana;
	font-size: 12px;
	color: rgb(150, 150, 150);
}

div#edit_more_form div.field input#user_private {
	width: 13px;
	height: 13px;
	margin-right: 10px;
	padding: 0px;
}

div#edit_more_form div.field input {
	width: 300px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid rgb(200, 200, 200);
	padding: 5px;
	font-family: Verdana;
	font-size: 14px;
	color: rgb(75, 75, 75);
	margin-top: 10px;
	margin-bottom: 10px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	-webkit-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	-moz-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	-ms-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	-o-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
}

div#edit_more_form div.field input:hover {
	border: 1px solid rgb(150, 150, 150);
}

div#edit_more_form div.field input:focus {
	border: 1px solid rgb(48, 157, 207);
	-webkit-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	-moz-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	-ms-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	-o-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
}

div#edit_more_form div.actions {
	margin-top: 3px;
}

div#edit_more_form div.actions input {
	text-shadow: 0px -1px 1px rgba(0, 0, 0, .25);
	margin: 0;
	background: none;
	font-size: 14px;
	font-family: Helvetica, Arial;
	font-weight: bold;
	border: none;
	color: rgb(255, 255, 255);
	padding: 10px 15px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid rgb(44, 175, 227);
	-webkit-box-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
	-moz-box-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
	-ms-box-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
	-o-box-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
	box-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
}


div#edit_more_form div.actions input {
	background: rgb(173,217,228); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FkZDllNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyY2FmZTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(173,217,228,1) 0%, rgba(44,175,227,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(173,217,228,1)), color-stop(100%,rgba(44,175,227,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(173,217,228,1) 0%,rgba(44,175,227,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(173,217,228,1) 0%,rgba(44,175,227,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(173,217,228,1) 0%,rgba(44,175,227,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(173,217,228,1) 0%,rgba(44,175,227,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#add9e4', endColorstr='#2cafe3',GradientType=0 ); /* IE6-8 */
}

div#edit_more_form div.actions input:hover, div#edit_more_form div.actions input:focus {
	background: rgb(163,207,218); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EzY2ZkYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMmE1ZDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(163,207,218,1) 0%, rgba(34,165,217,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(163,207,218,1)), color-stop(100%,rgba(34,165,217,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(163,207,218,1) 0%,rgba(34,165,217,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(163,207,218,1) 0%,rgba(34,165,217,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(163,207,218,1) 0%,rgba(34,165,217,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(163,207,218,1) 0%,rgba(34,165,217,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3cfda', endColorstr='#22a5d9',GradientType=0 ); /* IE6-8 */
	border: 1px solid rgb(4, 135, 187);
}

div#edit_more_form div.actions input:active {
	background: rgb(34,165,217); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyYTVkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhM2NmZGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(34,165,217,1) 0%, rgba(163,207,218,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(34,165,217,1)), color-stop(100%,rgba(163,207,218,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(34,165,217,1) 0%,rgba(163,207,218,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(34,165,217,1) 0%,rgba(163,207,218,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(34,165,217,1) 0%,rgba(163,207,218,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(34,165,217,1) 0%,rgba(163,207,218,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22a5d9', endColorstr='#a3cfda',GradientType=0 ); /* IE6-8 */
	-webkit-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	-moz-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	-ms-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	-o-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
}

div#edit_more_form div.radio {
	margin-bottom: 10px;
}

div#edit_more_form div.radio div#deal_duration_title {
	text-align: center;
}

div#edit_more_form div.radio ul {
	text-align: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
	padding-left: 40px;
}

div#edit_more_form div.radio ul li {
	display: inline;
	padding: 10px 30px;
	text-align: center;
	float: left;
}

div#edit_more_form div.radio ul li p {
	font-family: Verdana;
	font-size: 12px;
	color: rgb(150, 150, 150);
}

div#remove_watched_deals {
	text-align: center;
	margin-top: 0px;
}

div#remove_watched_deals a {
	font-family: Verdana;
	font-size: 12px;
	color: rgb(255, 26, 0);
	text-decoration: none;
}
div#remove_watched_deals a:hover {
	text-decoration: underline;
}

div#edit_more_form div.field select {
	width: 312px;
	height: 29px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid rgb(200, 200, 200);
	font-family: Helvetica, Arial;
	font-size: 14px;
	color: rgb(75, 75, 75);
	-webkit-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	-khtml-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	-moz-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	-ms-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	-o-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	margin: 0;
	margin-top: 5px;
	margin-bottom: 5px;
	-webkit-transition: all .2s ease-in-out;
	-khtml-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

div#edit_more_form div.field select:hover {
	border: 1px solid rgb(150, 150, 150);
}

div#edit_more_form div.field select:focus, div#edit_more_form div.field select:active {
	border: 1px solid rgb(48, 157, 207);
	-webkit-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	-moz-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	-ms-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	-o-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
}