div#facebook_twitter_home {
	position: relative;
	top: 5px;
	left: 10px;
	text-align: left;
	font-size: 0px;
	width: 150px;
	float: left;
}

div#facebook_twitter_home ul {
	list-style-type: none;
	height: 24px;
	padding: 1px 0px;
	margin: 0;
}

div#facebook_twitter_home ul li {
	height: 20px;
	display: inline;
	float: left;
	margin-right: 5px;
}

li#facebook_like_li {
	width: 44px;
}

li#twitter_follow_li {
	width: 61px;
}

div#facebook_like {
	width: 44px;
	height: 20px;
	background: url("/assets/facebook_like_round.png");
}

div#facebook_like:hover {
	background: url("/assets/facebook_like_round_hover.png");
}

div#facebook_twitter_show {
	text-align: left;
	margin-left: 41px;
}

div#facebook_twitter_show ul {
	list-style-type: none;
	height: 24px;
	padding: 1px 0px;
	margin: 0;
}

div#facebook_twitter_show ul li {
	height: 20px;
	display: inline;
	float: left;
	margin-right: 5px;
}