html {
	overflow-x: hidden;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	/*background: rgb(214, 249, 255);*/
  background: rgb(240, 240, 250);
}

#wrapper {
	min-height: 100%;
	overflow-x: hidden;
}

#content {
	width: 951px;
	margin: auto;
	padding: 10px;
	padding-bottom: 30px;
}

#debug {
	position: absolute;
	z-index: 100;
}

div.clear {
   height: 0;
   font-size: 1px;
   margin: 0;
   padding: 0;
   line-height: 0;
   clear: both;
}

h1, h2, h3, h4, h5 {
	font-family: Helvetica;
}

a {
	text-decoration: none;
	color: rgb(44, 175, 227);
}

a:hover {
	text-decoration: underline;
	color: rgb(4, 135, 187);
}

a.rebate_link {
	color: rgb(75, 75, 75);
}

a.rebate_link:hover {
	color: rgb(150, 150, 150);
}

p {
	font-family: Helvetica;
	color: rgb(75, 75, 75);
	margin: 0;
}

pre.debug_dump {
	position: absolute;
	left: 0;
	font-family: Verdana;
	font-size: 10px;
	color: rgb(75, 75, 75);
	text-align: left;
	width: 500px;
}

img {
	border: none;
}

div.flash {
	font-family: Verdana;
	font-size: 14px;
	padding: 10px;
}

.success {
	background: #E6EFC2;
	border: 1px solid #6EDC5A;
	color: #264401;
}

.error {
	background: #FBE3E4;
	border: 1px solid #FF1A00;
	color: #8A1F11;
}

.notice {
	background: #FFF6BF;
	border: 1px solid #FFD324;
	color: #514721;
}

.placeholder {
	color: rgb(175, 175, 175);
}

.center {
	text-align: center;
}