div#user_message_table {
	width: 211px;
	margin-top: 231px;
}

div#message_list {
	width: 708px;
	float: right;
}

a#message_single_link {
	display: block;
	width: 580px;
	height: 60px;
	position: absolute;
	z-index: 1;
	margin-top: -5px;
	margin-left: -5px;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-8 */
}

.read {
	background: rgb(255, 255, 255);
}

.unread {
	background: rgb(230, 240, 255);
}

div.message_single {
	border: 1px dotted rgb(200, 200, 200);
	margin-bottom: 3px;
	height: 50px;
	padding: 5px;
}

div#message_single_gravatar {
	float: left;
	width: 50px;
	height: 50px;
	text-align: center;
}

div#message_single_name {
	width: 480px;
	margin-left: 65px;
}

div#message_single_name a {
	font-size: 14px;
	font-family: Helvetica, Arial;
	text-decoration: none;
	font-weight: bold;
	color: rgb(44, 175, 227);
}

div#message_single_name a:hover {
	color: rgb(4, 135, 187);
	text-decoration: none;
}

div#message_single_content {
	width: 480px;
	height: 15px;
	margin-left: 65px;
	margin-top: 5px;
}

div#message_single_content p {
	font-family: Helvetica, Arial;
	font-size: 12px;
	color: rgb(75, 75, 75);
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

div#message_single_timestamp {
	margin-top: 17px;
	float: right;
}

div#message_single_timestamp p {
	font-family: Helvetica, Arial;
	font-size: 12px;
	color: rgb(150, 150, 150);
}

div.message_read div.actions, div.message_unread div.actions {
	height: 50px;
	width: 10px;
	float: right;
	margin-left: 5px;
	margin-right: 10px;
}

div.message_read input, div.message_unread input {
	height: 10px;
	width: 10px;
	border: none;
	padding: 0;
	margin: 0;
	margin-top: 20px;
}

div.message_read input {
	background: rgb(97, 196, 25);
}

div.message_read input:hover {
	background: rgb(255, 255, 255);
	border: 3px solid rgb(97, 196, 25);
}

div.message_unread input {
	background: rgb(48, 157, 207);
}

div.message_unread input:hover {
	background: rgb(255, 255, 255);
	border: 3px solid rgb(48, 157, 207);
}

div.mark_as_read {
	padding: 5px;
	text-align: center;
	font-family: Verdana;
	font-size: 11px;
	color: rgb(255, 255, 255);
	position: absolute;
	margin-top: -10px;
	margin-left: -50px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	display: none;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRiNGI0YiIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YjRiNGIiIHN0b3Atb3BhY2l0eT0iMC43NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(75,75,75,0.75) 0%, rgba(75,75,75,0.75) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(75,75,75,0.75)), color-stop(100%,rgba(75,75,75,0.75))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(75,75,75,0.75) 0%,rgba(75,75,75,0.75) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(75,75,75,0.75) 0%,rgba(75,75,75,0.75) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(75,75,75,0.75) 0%,rgba(75,75,75,0.75) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(75,75,75,0.75) 0%,rgba(75,75,75,0.75) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf4b4b4b', endColorstr='#bf4b4b4b',GradientType=0 ); /* IE6-8 */
}

div.mark_as_unread {
	padding: 5px;
	text-align: center;
	font-family: Verdana;
	font-size: 11px;
	color: rgb(255, 255, 255);
	position: absolute;
	margin-top: -10px;
	margin-left: -65px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	display: none;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRiNGI0YiIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YjRiNGIiIHN0b3Atb3BhY2l0eT0iMC43NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(75,75,75,0.75) 0%, rgba(75,75,75,0.75) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(75,75,75,0.75)), color-stop(100%,rgba(75,75,75,0.75))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(75,75,75,0.75) 0%,rgba(75,75,75,0.75) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(75,75,75,0.75) 0%,rgba(75,75,75,0.75) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(75,75,75,0.75) 0%,rgba(75,75,75,0.75) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(75,75,75,0.75) 0%,rgba(75,75,75,0.75) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf4b4b4b', endColorstr='#bf4b4b4b',GradientType=0 ); /* IE6-8 */
}

a#message_index_content_anchor {
	color: rgb(75, 75, 75);
}

a#message_index_content_anchor:hover {
	color: rgb(75, 75, 75);
	text-decoration: none;
}