/* message_thread.css */
div.message_thread {
	background: rgb(255, 255, 255);
	border: 1px dotted rgb(200, 200, 200);
	margin-bottom: 3px;
	padding: 5px;
	min-height: 50px;
}

div#message_thread_gravatar {
	float: left;
	width: 50px;
	height: 50px;
	text-align: center;
}

div#message_thread_name {
	width: 510px;
	margin-left: 65px;
}

div#message_thread_name a {
	font-size: 14px;
	font-family: Helvetica, Arial;
	text-decoration: none;
	font-weight: bold;
	color: rgb(44, 175, 227);
}

div#message_thread_name a:hover {
	color: rgb(4, 135, 187);
	text-decoration: none;
}

div#message_thread_content {
	width: 510px;
	margin-left: 65px;
	margin-top: 5px;
	margin-bottom: 10px;
}

div#message_thread_content p {
	font-family: Helvetica, Arial;
	font-size: 13px;
	line-height: 16px;
	color: rgb(75, 75, 75);
	word-wrap: break-word;
}

div#message_thread_timestamp {
	margin-top: 17px;
	margin-right: 5px;
	float: right;
}

div#message_thread_timestamp p {
	font-family: Helvetica, Arial;
	font-size: 11px;
	color: rgb(150, 150, 150);
}

div#reply_form {
	margin-bottom: 3px;
}

div#message_reply_form {
	background: rgb(255, 255, 255);
	border: 1px dotted rgb(200, 200, 200);
	padding: 5px;
}

div#message_reply_form div.field {
	margin-left: 65px;
	width: 512px;
}

div#message_reply_form textarea {
	width: 500px;
	padding: 5px;
	height: 32px;
	font-family: Helvetica, Arial;
	font-size: 13px;
	color: rgb(75, 75, 75);
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid rgb(200, 200, 200);
	resize: none;
	margin: 0;
	margin-top: 5px;
	overflow: hidden;
}

div#message_reply_form textarea:hover {
	border: 1px solid rgb(150, 150, 150);
}

div#message_reply_form textarea:focus {
	border: 1px solid rgb(48, 157, 207);
}

div#message_reply_form div.actions {
	margin-top: 5px;
	margin-right: 65px;
	width: 46px;
	float: right;
}

div#message_reply_form div.actions input {
	text-decoration: none;
	font-family: Verdana;
	font-size: 12px;
	padding: 5px;
	text-align: center;
	border: 1px solid rgb(150, 150, 150);
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	color: rgb(75, 75, 75);
	-webkit-box-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
	-khtml-box-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
	-moz-box-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
	-ms-box-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
	-o-box-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
	box-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
}

div#message_reply_form div.actions input {
	background: rgb(238,238,238); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
}

div#message_reply_form div.actions input:hover, div#message_reply_form div.actions input:focus {
	background: rgb(248,248,248); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNmQ2ZDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(214,214,214,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,248,248,1)), color-stop(100%,rgba(214,214,214,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(214,214,214,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(214,214,214,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(214,214,214,1) 100%); /* IE10+ */
	border: 1px solid rgb(160, 160, 160);
}

div#message_reply_form div.actions input:active {
	background: rgb(214,214,214); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q2ZDZkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOGY4ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(214,214,214,1) 0%, rgba(248,248,248,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,214,214,1)), color-stop(100%,rgba(248,248,248,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(248,248,248,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(248,248,248,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(248,248,248,1) 100%); /* IE10+ */
	-webkit-box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
	-khtml-box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
	-moz-box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
	-ms-box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
	-o-box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
	box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
}

div#list_of_messages a#show_messages_more {
	-webkit-transition: all .2s ease-in-out;	
	-khtml-transition: all .2s ease-in-out;	
	-moz-transition: all .2s ease-in-out;	
	-ms-transition: all .2s ease-in-out;	
	-o-transition: all .2s ease-in-out;	
	transition: all .2s ease-in-out;	
}

div#list_of_messages a#show_messages_more:hover {
	text-decoration: none;
}

div#show_list_of_messages_more {
	padding: 5px 0px;
	text-align: center;
	font-family: Verdana;
	font-size: 12px;
}

div#list_of_messages_more {
	display: none;
}

/* my_points.css */
div#my_points_title {
	text-align: center;
	margin-bottom: 3px;
}

div#my_points_title p {
	font-size: 18px;
	font-weight: bold;
}

div#my_points_next_level {
	display: none;
	padding: 10px;
	color: rgb(255, 255, 255);
	position: absolute;
	font-family: Verdana;
	font-size: 12px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRiNGI0YiIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzRiNGI0YiIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  rgba(75,75,75,0.9) 0%, rgba(75,75,75,0.9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(75,75,75,0.9)), color-stop(100%,rgba(75,75,75,0.9))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(75,75,75,0.9) 0%,rgba(75,75,75,0.9) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(75,75,75,0.9) 0%,rgba(75,75,75,0.9) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(75,75,75,0.9) 0%,rgba(75,75,75,0.9) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(75,75,75,0.9) 0%,rgba(75,75,75,0.9) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e64b4b4b', endColorstr='#e64b4b4b',GradientType=0 ); /* IE6-8 */
}

div#my_points_progress {
	height: 20px;
	border: 1px solid rgb(200, 200, 200);
	-webkit-box-shadow: 0px 1px 10px rgba(150, 150, 150, .75);
	-khtml-box-shadow: 0px 1px 10px rgba(150, 150, 150, .75);
	-moz-box-shadow: 0px 1px 10px rgba(150, 150, 150, .75);
	-ms-box-shadow: 0px 1px 10px rgba(150, 150, 150, .75);
	-o-box-shadow: 0px 1px 10px rgba(150, 150, 150, .75);
	box-shadow: 0px 1px 10px rgba(150, 150, 150, .75);
	background: rgb(100,100,100); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY0NjQ2NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMjMyMzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(100,100,100,1) 0%, rgba(50,50,50,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(100,100,100,1)), color-stop(100%,rgba(50,50,50,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(100,100,100,1) 0%,rgba(50,50,50,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(100,100,100,1) 0%,rgba(50,50,50,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(100,100,100,1) 0%,rgba(50,50,50,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(100,100,100,1) 0%,rgba(50,50,50,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#646464', endColorstr='#323232',GradientType=0 ); /* IE6-8 */
}

div#my_points_progress img {
	height: 20px;
}

div.points_popup {
	display: none;
	position: fixed;
	z-index: 9999;
	left: 10px;
	padding: 20px;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRiNGI0YiIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzRiNGI0YiIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  rgba(75,75,75,0.9) 0%, rgba(75,75,75,0.9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(75,75,75,0.9)), color-stop(100%,rgba(75,75,75,0.9))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(75,75,75,0.9) 0%,rgba(75,75,75,0.9) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(75,75,75,0.9) 0%,rgba(75,75,75,0.9) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(75,75,75,0.9) 0%,rgba(75,75,75,0.9) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(75,75,75,0.9) 0%,rgba(75,75,75,0.9) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e64b4b4b', endColorstr='#e64b4b4b',GradientType=0 ); /* IE6-8 */
}

div.points_popup p {
	color: rgb(255, 255, 255);
	font-family: Helvetica, Arial;
	font-size: 22px;
	font-weight: bold;
}

div.points_popup_overlay {
	display: none;
	position: fixed;
	z-index: 9999;
	left: 10px;
	padding: 20px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background: rgb(255, 255, 255);
	-webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, .35);
	-khtml-box-shadow: 0px 5px 15px rgba(0, 0, 0, .35);
	-moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, .35);
	-ms-box-shadow: 0px 5px 15px rgba(0, 0, 0, .35);
	-o-box-shadow: 0px 5px 15px rgba(0, 0, 0, .35);
	box-shadow: 0px 5px 15px rgba(0, 0, 0, .35);
}

div.points_popup_overlay p {
	color: rgb(75, 75, 75);
	font-family: Helvetica, Arial;
	font-size: 22px;
	font-weight: bold;
}