/* my_account_menu.css */
#my_account_drop_down {
	display: none;
	position: absolute;
	top: 44px;
	right: 15px;
	width: 150px;
	z-index: 9001;
}

div#my_account_drop_down ul {
	padding: 0;
	margin: 0;
	background: rgb(255, 255, 255);
	border-right: 1px solid rgb(200, 200, 200);
	border-left: 1px solid rgb(200, 200, 200);
	border-bottom: 1px solid rgb(200, 200, 200);
	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
	-khtml-box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
	-ms-box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
	-o-box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
}

div#my_account_drop_down ul li {
	text-align: left;
	display: block;
}

.my_account_drop_down_border {
	border-bottom: 1px dotted rgb(200, 200, 200);
}

#my_account_drop_down a {
	display: block;
	width: 128px;
	padding: 10px;
	text-decoration: none;
	font-family: Verdana;
	font-size: 11px;
	color: rgb(75, 75, 75);
	-webkit-transition: .1s all linear;
	-khtml-transition: .1s all linear;
	-moz-transition: .1s all linear;
	-ms-transition: .1s all linear;
	-o-transition: .1s all linear;
	transition: .1s all linear;
}

#my_account_drop_down a:hover {
	text-decoration: none;
	color: rgb(75, 75, 75);
	background: rgb(210, 210, 210);
}

#my_account {
	display: block;
	height: 20px;
	padding: 12px 0px;
	text-decoration: none;
  font-family: Helvetica, Arial;
  font-weight: bold;
  font-size: 13px;
  margin-right: 5px;
  float: right;
  text-align: right;
  color: rgb(200, 200, 200);
}

#my_account:hover {
	color: rgb(255, 255, 255);
	background: rgb(75, 75, 75);
}

#my_account_pic_name {
	float: left;
}

#my_account_picture {
	float: left;
	max-height: 20px;
	padding: 0px 5px;
}

.my_account_name {
	float: left;
	position: relative;
	top: 2px;
	padding-right: 5px;
}

#my_account_notification {
	position: absolute;
	width: 10px;
	height: 20px;
}

img#notice {
	margin-top: 4px;
}

/* my_deals.css */
div#my_deals {
	width: 100%;
}

div#my_deals_side {
	position: fixed;
	width: 211px;
	padding: 10px;
	background: rgb(255, 255, 255);
	border: 1px dotted rgb(175, 175, 175);
	-webkit-box-shadow: 0px 1px 8px rgba(0, 0, 0, .3);
	-khtml-box-shadow: 0px 1px 8px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0px 1px 8px rgba(0, 0, 0, .3);
	-ms-box-shadow: 0px 1px 8px rgba(0, 0, 0, .3);
	-o-box-shadow: 0px 1px 8px rgba(0, 0, 0, .3);
	box-shadow: 0px 1px 8px rgba(0, 0, 0, .3);
}

div#my_deals_side p {
	font-size: 14px;
}

div#my_deals_photo {
	width: 211px;
	text-align: center;
	margin-bottom: 5px;
}

div#my_deals_photo a {
	opacity: 1;
	-webkit-transition: all .2s linear;
	-khtml-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

div#my_deals_photo a:hover {
	opacity: .8;
}

div#my_deals_watching {
	padding: 5px 0px;
	margin: 5px 0px;
	border-bottom: 1px dotted rgb(200, 200, 200);
}

div#my_deals_watching p {
	color: rgb(150, 150, 150);
}

.my_deals_div {
	padding: 5px 0px;
}

div#my_deals_info a {
	color: rgb(75, 75, 75);
	-webkit-transition: all .2s ease-in-out;
	-khtml-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

div#my_deals_info a:hover {
	color: rgb(150, 150, 150);
}

div#clear_dead_deals {
	padding: 5px 0px;
}

div#clear_dead_deals a {
	font-family: Helvetica, Arial;
	font-size: 14px;
	color: rgb(255, 26, 0);
}

div#clear_dead_deals a:hover {
	color: rgb(255, 26, 0);
}

div#my_deals_deals {
	margin-left: 258px;
}

div#my_deals_name {
	text-align: center;
	margin-bottom: 10px;
}

div#my_deals_name h1 {
	font-family: Helvetica, Arial;
	font-weight: bold;
	font-size: 30px;
	color: rgb(75, 75, 75);
	margin: 0 auto;
	width: 400px;
}

.emptyFeed {
	text-align: center;
	padding: 20px 0px;
}

.emptyFeed p {
	font-size: 18px;
	margin-bottom: 5px;
}