div#password_reset {
	width: 700px;
}

div#password_reset_edit {
	width: 700px;
	float: right;
}

div#password_reset h1, div#password_reset_edit h1 {
	font-family: Helvetica, Arial;
	font-weight: bold;
	font-size: 32px;
	color: rgb(75, 75, 75);
	padding: 10px 20px;
	text-align: right;
}

div#password_reset h2 {
	font-family: Helvetica, Arial;
	font-size: 16px;
	color: rgb(75, 75, 75);
	margin: 0;
	margin-bottom: 20px;
}

div#password_reset_form {
	text-align: right;
}

div#password_reset_form, div#password_reset_form_edit {
	padding: 20px;
}

div#password_reset_form_edit {
	text-align: right;
}

div#password_reset_form div.field {
	font-family: Helvetica, Arial;
	font-weight: bold;
	font-size: 14px;
	color: rgb(75, 75, 75);
	margin: 0;
	vertical-align: top;
	
}

div#password_reset_form_edit div.field {
	font-family: Helvetica, Arial;
	font-weight: bold;
	font-size: 14px;
	color: rgb(75, 75, 75);
	margin: 0;
	vertical-align: top;
}

div#password_reset_form div.field input, div#password_reset_form_edit div.field input {
	width: 350px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid rgb(200, 200, 200);
	padding: 5px;
	font-family: Verdana;
	font-size: 14px;
	color: rgb(75, 75, 75);
	margin-top: 10px;
	margin-bottom: 10px;
	-webkit-transition: all .2s ease-in-out;
	-khtml-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	-webkit-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	-khtml-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	-moz-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	-ms-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	-o-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
}

div#password_reset_form div.field input:hover, div#password_reset_form_edit div.field input:hover {
	border: 1px solid rgb(150, 150, 150);
}

div#password_reset_form div.field input:focus, div#password_reset_form_edit div.field input:focus {
	border: 1px solid rgb(48, 157, 207);
	-webkit-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	-khtml-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	-moz-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	-ms-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	-o-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
}

div#password_reset_form div.actions {
	margin-top: 20px;
}

div#password_reset_form_edit div.actions {
	margin-top: 20px;
}

div#password_reset_form div.actions a {
	padding: 0 10px;
	text-decoration: none;
	font-family: Verdana;
	font-size: 12px;
	color: rgb(44, 175, 227);
	-webkit-transition: all .2s ease-in-out;
	-khtml-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

div#password_reset_form div.actions a:hover {
	text-decoration: underline;
	color: rgb(4, 135, 187);
}

div#password_reset_form div.actions input, div#password_reset_form_edit div.actions input {
	text-shadow: 0px -1px 1px rgba(0, 0, 0, .25);
	margin: 0;
	background: none;
	font-size: 14px;
	font-family: Helvetica, Arial;
	font-weight: bold;
	border: none;
	color: rgb(255, 255, 255);
	padding: 10px 15px;
	border-radius: 5px;
	border: 1px solid rgb(44, 175, 227);
}

div#password_reset_form div.actions input, div#password_reset_form_edit div.actions input {
	background: rgb(173,217,228); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FkZDllNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyY2FmZTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(173,217,228,1) 0%, rgba(44,175,227,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(173,217,228,1)), color-stop(100%,rgba(44,175,227,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(173,217,228,1) 0%,rgba(44,175,227,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(173,217,228,1) 0%,rgba(44,175,227,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(173,217,228,1) 0%,rgba(44,175,227,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(173,217,228,1) 0%,rgba(44,175,227,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#add9e4', endColorstr='#2cafe3',GradientType=0 ); /* IE6-8 */
}

div#password_reset_form div.actions input:hover, div#password_reset_form div.actions input:focus, div#password_reset_form_edit div.actions input:hover, div#password_reset_form_edit div.actions input:focus {
	background: rgb(163,207,218); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EzY2ZkYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMmE1ZDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(163,207,218,1) 0%, rgba(34,165,217,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(163,207,218,1)), color-stop(100%,rgba(34,165,217,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(163,207,218,1) 0%,rgba(34,165,217,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(163,207,218,1) 0%,rgba(34,165,217,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(163,207,218,1) 0%,rgba(34,165,217,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(163,207,218,1) 0%,rgba(34,165,217,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3cfda', endColorstr='#22a5d9',GradientType=0 ); /* IE6-8 */
	border: 1px solid rgb(4, 135, 187);
}

div#password_reset_form div.actions input:active, div#password_reset_form_edit div.actions input:active {
	background: rgb(34,165,217); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyYTVkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhM2NmZGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(34,165,217,1) 0%, rgba(163,207,218,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(34,165,217,1)), color-stop(100%,rgba(163,207,218,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(34,165,217,1) 0%,rgba(163,207,218,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(34,165,217,1) 0%,rgba(163,207,218,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(34,165,217,1) 0%,rgba(163,207,218,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(34,165,217,1) 0%,rgba(163,207,218,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22a5d9', endColorstr='#a3cfda',GradientType=0 ); /* IE6-8 */
	-webkit-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	-khtml-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	-moz-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	-ms-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	-o-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
}

div#password_reset_form_edit div#error_explanation {
	margin-left: 275px;
}