/* progress.css */
div#progress {
	display: none;
	position: absolute;
	z-index: 200;
	top: 160px;
	left: 0;
	right: 0;
	width: 64px;
	height: 64px;
	background: url("/assets/spinner.gif");
	margin: auto;
}

/* previous_next.css */
#previous_deal, #next_deal {
	position: absolute;
	top: 30%;
	z-index: 9000;
	display: block;
	width: 20px;
	height: 40px;
	background: rgb(255, 255, 255);
	border-top: 1px dotted rgb(175, 175, 175);
	border-bottom: 1px dotted rgb(175, 175, 175);
	-webkit-transition: all .2s linear;
	-khtml-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	-webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, .3);
	-khmtl-box-shadow: 0px 3px 10px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0px 3px 10px rgba(0, 0, 0, .3);
	-ms-box-shadow: 0px 3px 10px rgba(0, 0, 0, .3);
	-o-box-shadow: 0px 3px 10px rgba(0, 0, 0, .3);
	box-shadow: 0px 3px 10px rgba(0, 0, 0, .3);
}

a#previous_deal {
	left: 0px;
	padding: 20px 15px 20px 5px;
	border-right: 1px dotted rgb(175, 175, 175);
	-webkit-border-top-right-radius: 2px;
	-khtml-border-top-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	-ms-border-top-right-radius: 2px;
	-o-border-top-right-radius: 2px;
	border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-khtml-border-bottom-right-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-ms-border-bottom-right-radius: 2px;
	-o-border-bottom-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

a#next_deal {
	right: 0px;
	padding: 20px 5px 20px 15px;
	border-left: 1px dotted rgb(175, 175, 175);
	-webkit-border-top-left-radius: 2px;
	-khtml-border-top-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-ms-border-top-left-radius: 2px;
	-o-border-top-left-radius: 2px;
	border-top-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-khtml-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomleft: 2px;
	-ms-border-bottom-left-radius: 2px;
	-o-border-bottom-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

a#next_deal:hover, a#previous_deal:hover {
	background: rgb(235, 235, 235);
}

#previous_arrow img, #next_arrow img {
	width: 20px;
	height: 40px;
}

a#next_deal_overlay, a#previous_deal_overlay {
	position: absolute;
	top: 30%;
	z-index: 9000;
	display: block;
	width: 20px;
	height: 40px;
	background: rgb(255, 255, 255);
	-webkit-transition: all .2s linear;
	-khtml-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	-webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, .35);
	-khtml-box-shadow: 0px 5px 20px rgba(0, 0, 0, .35);
	-moz-box-shadow: 0px 5px 20px rgba(0, 0, 0, .35);
	-ms-box-shadow: 0px 5px 20px rgba(0, 0, 0, .35);
	-o-box-shadow: 0px 5px 20px rgba(0, 0, 0, .35);
	box-shadow: 0px 5px 20px rgba(0, 0, 0, .35);
}

a#previous_deal_overlay {
	left: 0px;
	padding: 20px 15px 20px 5px;
	-webkit-border-top-right-radius: 2px;
	-khtml-border-top-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	-ms-border-top-right-radius: 2px;
	-o-border-top-right-radius: 2px;
	border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-khtml-border-bottom-right-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-ms-border-bottom-right-radius: 2px;
	-o-border-bottom-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

a#next_deal_overlay {
	right: 0px;
	padding: 20px 5px 20px 15px;
	-webkit-border-top-left-radius: 2px;
	-khtml-border-top-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-ms-border-top-left-radius: 2px;
	-o-border-top-left-radius: 2px;
	border-top-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-khtml-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomleft: 2px;
	-ms-border-bottom-left-radius: 2px;
	-o-border-bottom-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

a#next_deal_overlay:hover, a#previous_deal_overlay:hover {
	background: rgb(225, 225, 225);
}

#previous_arrow_overlay img, #next_arrow_overlay img {
	width: 20px;
	height: 40px;
}

/* question.css */
div#deal_page_info {
	height: 19px;
	margin-top: -5px;
	text-align: right;
}

div#deal_page_info h1 {
	font-family: Verdana;
	font-size: 12px;
	color: rgb(150, 150, 150);
	width: 150px;
	float: right;
	margin: 0;
	margin-right: 5px;
	margin-top: 3px;
}

div#show_electric_flashing {
	text-align: left;
	width: 350px;
	height: 19px;
	float: left;
	vertical-align: top;
}

div#show_electric_flashing ul {
	height: 19px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div#show_electric_flashing ul li {
	display: inline;
	margin-right: 5px;
}

div#show_electric_flashing img {
	width: 13px;
	height: 13px;
	padding: 3px 2px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY0NjQ2NCIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YjRiNGIiIHN0b3Atb3BhY2l0eT0iMC43NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(100,100,100,0.75) 0%, rgba(75,75,75,0.75) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(100,100,100,0.75)), color-stop(100%,rgba(75,75,75,0.75))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(100,100,100,0.75) 0%,rgba(75,75,75,0.75) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(100,100,100,0.75) 0%,rgba(75,75,75,0.75) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(100,100,100,0.75) 0%,rgba(75,75,75,0.75) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(100,100,100,0.75) 0%,rgba(75,75,75,0.75) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf646464', endColorstr='#bf4b4b4b',GradientType=0 ); /* IE6-8 */
}

div#show_electric_flashing a {
	vertical-align: top;
	font-family: Verdana;
	font-size: 12px;
	-webkit-transition: all .2s ease-in-out;
	-khtml-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

div#show_electric_flashing a:hover {
	text-decoration: underline;
}

a#question {
	display: block;
	float: right;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	width: 19px;
	height: 19px;
	background: url("/assets/q1.png");
	background-size: 19px 19px;
	background-repeat: no-repeat;
}

a#question:hover {
	background: url("/assets/q2.png");
	background-size: 19px 19px;
	background-repeat: no-repeat;
}

div.deal_page_info {
	text-align: left;
	width: 470px;
	padding: 5px 15px 25px 15px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	position: absolute;
	margin-top: 10px;
	margin-left: 100px;
	display: none;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRiNGI0YiIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzRiNGI0YiIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  rgba(75,75,75,0.9) 0%, rgba(75,75,75,0.9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(75,75,75,0.9)), color-stop(100%,rgba(75,75,75,0.9))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(75,75,75,0.9) 0%,rgba(75,75,75,0.9) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(75,75,75,0.9) 0%,rgba(75,75,75,0.9) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(75,75,75,0.9) 0%,rgba(75,75,75,0.9) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(75,75,75,0.9) 0%,rgba(75,75,75,0.9) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e64b4b4b', endColorstr='#e64b4b4b',GradientType=0 ); /* IE6-8 */
}

div.close_deal_page_info {
	text-align: right;
}

div.close_deal_page_info a {
	display: block;
	width: 100%;
	height: 20px;
	-webkit-transition: all .2s linear;
	-khtml-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

div.close_deal_page_info a:hover {
	opacity: .75;
}

div.close_deal_page_info img {
	margin-right: -10px;
	width: 20px;
	height: 20px;
}

div.deal_page_info p {
	font-family: Verdana;
	font-size: 12px;
	color: rgb(255, 255, 255);
	line-height: 17px;
}

div#show_electric_flashing a#deals_per_page {
	color: rgb(255, 26, 0);
}

div#show_electric_flashing a#deals_per_page:hover {
	text-decoration: none;
}

p#deals_per_page_label {
	float: left;
	font-size: 12px;
	font-family: Verdana;
	color: rgb(150, 150, 150);
}

div#page_deal_info {
	padding: 5px 15px 20px 15px;
	margin-bottom: 20px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRiNGI0YiIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzRiNGI0YiIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  rgba(75,75,75,0.9) 0%, rgba(75,75,75,0.9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(75,75,75,0.9)), color-stop(100%,rgba(75,75,75,0.9))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(75,75,75,0.9) 0%,rgba(75,75,75,0.9) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(75,75,75,0.9) 0%,rgba(75,75,75,0.9) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(75,75,75,0.9) 0%,rgba(75,75,75,0.9) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(75,75,75,0.9) 0%,rgba(75,75,75,0.9) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e64b4b4b', endColorstr='#e64b4b4b',GradientType=0 ); /* IE6-8 */
}

div#page_deal_info_close {
	height: 20px;
	text-align: right;
}

div#page_deal_info_close a {
	display: block;
	width: 100%;
	height: 20px;
	-webkit-transition: all .2s linear;
	-khtml-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;	
}

div#page_deal_info_close a:hover {
	opacity: .75;
}

div#page_deal_info_close img {
	width: 20px;
	height: 20px;
	margin-right: -10px;
}


div#page_deal_info p {
	font-size: 14px;
	color: rgb(255, 255, 255);
	line-height: 18px;
}