<div class="signup_info_body_content">
	<p>FlashingDeals is dedicated to delivering you the best deals.</p> 
	<p>We do all the homework for you, researching and comparing every deal so that you don't have to.</p>
	<p>Members can interact socially with the FlashingDeals community, gain access to the community deals, and be the first to know about our exclusive deals.</p>
</div>