<div class="friend_requests">
	<p class="friend_requests_header">Friend Requests</p>
	<ul class="friend_requests_list">
		<%= render :partial => 'request', :collection => @requests, :as => :user %>
	</ul>
</div>