<div id="unsubscribe">
	<div id="unsubscribe_header">
		Is this a mistake?
	</div>
	<div id="unsubscribe_body">
		<p>If you would like to unsubscribe to receiving reply alerts, click <%= link_to "here", unsubscribe_reply_alert_me_path, :confirm => "Are you absolutely sure you want to unsubscribe?" %>.</p>
	</div>
</div>