<div class="category_box">
	<div class="category_box_title">
		<p><%= link_to "Categories", "javascript:void(0)", :onclick => "toggleCategories()" %></p>
	</div>
	<div class="categories">
		<ul>
		<% Category.all.each do |c| %>
			<% if c.deals.where("posted > ?", @today).size > 0 %>
			<li>
				<div id="category">
					<div class="category_name">
						<%= link_to c.name, c, :onmouseover => "addCatClass(#{c.id})", :onmouseout => "removeCatClass(#{c.id})" %>
					</div>
					<div class="category_count">
						<p class="dark_blue" id="cat_<%= c.id %>"><%= c.deals.where("posted > ?", @today).size %></p>
					</div>
				</div>
			</li>
			<div class="clear"></div>
			<% end %>
		<% end %>
		</ul>
	</div>
</div>