<div class="location_box">
  <div class="location_box_title">
    <p><%= link_to "Location", "javascript:void(0)", :onclick => "toggleLocations()" %></p>
  </div>
  <div class="locations">
  	<ul>
			<li><%= link_to "National", "javascript:void(0)" %></li>
			<li><p><em>More Coming Soon...</em></p></li>
  	</ul>
  </div>
</div>