<div id="popup_page_info">
	<div id="popup_page_info_body">
		<p>We are always searching the internet for the best deals. The FD team and our users hand select deals and feature them here. All the homework is done for you, making sure anything you see here is the best. Watch out though, Featured Deals usually don’t last long and may be gone in a flash.</p>
	</div>
</div>