	<div id="set_one">
		<div id="nine">
			<p>9</p>
		</div>
		<div id="eight">
			<p>8</p>
		</div>
		<div id="seven">
			<p>7</p>
		</div>
		<div id="six">
			<p>6</p>
		</div>
		<div id="five">
			<p>5</p>
		</div>
		<div id="four">
			<p>4</p>
		</div>
		<div id="three">
			<p>3</p>
		</div>
		<div id="two">
			<p>2</p>
		</div>
		<div id="one">
			<p>1</p>
		</div>
		<div id="zero">
			<p>0</p>
		</div>
	</div>
	<div id="set_two">
		<div id="nine2">
			<p>9</p>
		</div>
		<div id="eight2">
			<p>8</p>
		</div>
		<div id="seven2">
			<p>7</p>
		</div>
		<div id="six2">
			<p>6</p>
		</div>
		<div id="five2">
			<p>5</p>
		</div>
		<div id="four2">
			<p>4</p>
		</div>
		<div id="three2">
			<p>3</p>
		</div>
		<div id="two2">
			<p>2</p>
		</div>
		<div id="one2">
			<p>1</p>
		</div>
		<div id="zero2">
			<p>0</p>
		</div>
	</div>
	<div id="set_three">
		<div id="nine3">
			<p>9</p>
		</div>
		<div id="eight3">
			<p>8</p>
		</div>
		<div id="seven3">
			<p>7</p>
		</div>
		<div id="six3">
			<p>6</p>
		</div>
		<div id="five3">
			<p>5</p>
		</div>
		<div id="four3">
			<p>4</p>
		</div>
		<div id="three3">
			<p>3</p>
		</div>
		<div id="two3">
			<p>2</p>
		</div>
		<div id="one3">
			<p>1</p>
		</div>
		<div id="zero3">
			<p>0</p>
		</div>
	</div>