<div id="header" data-role="header">
	<%= link_to(me_account_path, :id => "backButton", "data-transition" => "slide", "data-direction" => "reverse", "data-role" => "none") do %>
		Back
	<% end %>
	<div class="headerPageTitle">
		About Us
	</div>
	<%= link_to(root_path, :id => "blueBoltHome", "data-role" => "none") do %>
		<%= image_tag "blue_bolt.png" %>
	<% end %>
</div>
<div id="content" data-role="content">
	<div class="aboutUs">
		<p class="aboutPageHeader">What About FlashingDeals?</p>
		<p>A new way to discover deals and share them with friends.</p>
		<p class="aboutHeader">Our Beginnings</p>
		<p>FlashingDeals is the result of two best friends growing up with a passion for finding things at great prices. Whether it was a video game, the newest toy, or tickets to the amusement park, we always found a way of making it happen.</p>
		<p>Getting the most bang for your buck on a weekly allowance of five dollars took some creativity. Flipping through ads, trading for used games, and cutting out coupons was only the beginning. With these past experiences and philosophies, we present you with FlashingDeals.</p>
		<p class="aboutHeader">What We Do</p>
		<p>FlashingDeals is dedicated to delivering you the best deals. We do all the homework for you, researching and comparing every deal so that you don't have to.</p>
		<p>Members can interact socially with the FlashingDeals community, gain access to the community deals, and be the first to know about our exclusive deals.</p>
		<p class="aboutHeader">Why We Do It</p>
		<p>FlashingDeals is a platform for people to find things they love and share things they buy. We believe the things we do, the things we use, and the things we wear are merely extensions of who we are. Here at FlashingDeals you can express just that.</p>
	</div>
</div>