<%= render "page_sidebar" %>
<div class="page">
	<div class="page_header">
		<h1>What About FlashingDeals?</h1>
	</div>
	<div class="page_content">
		<p>Stop wasting your time looking through useless deals that don't  even save you that much money. Let us use our time to save you Time and Money!</p>
		<p>We are constantly scouring the web for deals, but not just any deals. We are dedicated to finding deals that matter, deals you just won't pass up. Aren't you tired of seeing the same deals over and over as well as deals that you never want? Well fear not! We are tired of that to and that is why FlashingDeals exists!</p>
		<p>In today's world, buying something for full price won't cut it. Anything short of an awesome deal is too expensive. And with so many deals out there, how will someone ever know which one is the best? Deal sites that show only one deal a day or one deal at a time doesn't give you many options. Deal sites that show you hundreds at a time is just too overwhelming. FlashingDeals helps you decide how you want to experience the World of Deals.</p> 
		<p>They say time is money, well let's spend it together!</p>
	</div>
	<div class="page_end"></div>
</div>
<script>
$(document).ready(function () {
	$("a#about").addClass("page_selected");
});
</script>