<%= render "page_sidebar" %>
<div class="page">
	<div class="page_header">
		<h1>What About FlashingDeals?</h1>
	</div>
	<div class="page_content">
		<p>FlashingDeals is the result of two best friends growing up with the passion for attaining the greatest value at the lowest cost, whatever it may be. Whether it was the latest video game, the newest toy, or the coolest pair of shoes.</p>
		<p>Having a weekly allowance of ten dollars or less took “stretching the dollar” to another level. Getting the most “bang for your buck” took lots of creativity. Flipping through newspaper ads, trading for used items, and cutting out coupons was only the beginning. We have taken our past experiences as well as our philosophies and present you with FlashingDeals.</p>
		<p>There is a feeling of triumph when one saves after finding an awesome deal. We want to share that feeling with you. FlashingDeals is a platform for people to find things they love and share things they buy. With our combined knowledge, we can share more than just our understanding of products. As a community, we will be able to share the products we are passionate about as well as the experiences we’ve had with them that has changed our lives. We believe the things you wear, the things you do, and the things you use are all extensions of ourselves. Here at FlashingDeals you can express just that.</p>
	</div>
	<div class="page_end"></div>
</div>
<script>
$(document).ready(function () {
	$("a#about").addClass("page_selected");
});
</script>