<%= render "page_sidebar" %>
<div class="page">
	<div class="page_header">
		<h1>The Blog</h1>
	</div>
	<div class="page_content">
		<p>Coming soon.</p>
		<h2>Read More</h2>
			<p>Come check out our personal blogs: Coming soon as well.</p>
	</div>
	<div class="page_end"></div>
</div>
<script>
$(document).ready(function () {
	$("a#blog").addClass("page_selected");
});
</script>