<%= render "page_sidebar" %>
<div class="page">
	<div class="page_header">
		<h1>Privacy Policy</h1>
	</div>
	<div class="page_content">
		<h2>FlashingDeal Privacy Policy</h2>
		<p>Effective Date: August 3, 2011</p>
		<p>We respect your privacy.</p>
		<h2>Our Privacy Policy:</h2>
		<ol>
			<li>How FlashingDeal Collects Personal Information</li>
			<li>How FlashingDeal Uses Personal Information</li>
			<li>When and Why FlashingDeal Discloses Personal Information</li>
			<li>Cookies and Related Technologies</li>
			<li>Referring Friends to FlashingDeal</li>
			<li>Your Choices</li>
			<li>Accessing and Correcting Personal Information</li>
			<li>Security of Personal Information</li>
			<li>Notice of Residents of Countries outside the U.S.A.</li>
			<li>Privacy Practices of Third Parties</li>
			<li>Communities</li>
			<li>Facebook Connect</li>
			<li>Changes to this Privacy Statement</li>
			<li>California Privacy Rights</li>
		</ol>
		<h2>Types of Personal Information We Collect</h2>
		<p>Coming soon...</p>
	</div>
	<div class="page_end"></div>
</div>