<%= render "page_sidebar" %>
<div class="page">
	<p class="page_header">Privacy Policy</p>
	<div class="page_content">
		<p class="page_content_header">We Respect Your Privacy</p>
		<p>FlashingDeals will never abuse the information you give us. We will never give your information to anyone.</p>
		<p>You are safe here with us.</p>
		<p class="page_content_header">Our Privacy Policy</p>
		<ol>
			<li>How FlashingDeal Collects Personal Information</li>
			<li>How FlashingDeal Uses Personal Information</li>
			<li>When and Why FlashingDeal Discloses Personal Information</li>
			<li>Cookies and Related Technologies</li>
			<li>Referring Friends to FlashingDeal</li>
			<li>Your Choices</li>
			<li>Accessing and Correcting Personal Information</li>
			<li>Security of Personal Information</li>
			<li>Notice of Residents of Countries outside the U.S.A.</li>
			<li>Privacy Practices of Third Parties</li>
			<li>Communities</li>
			<li>Facebook Connect</li>
			<li>Changes to this Privacy Statement</li>
			<li>California Privacy Rights</li>
		</ol>
		<p class="page_content_header">Types of Personal Information We Collect</p>
		<ol>
			<li>Your email address</li>
		</ol>
	</div>
</div>
<script>
$(document).ready(function () {
	$(".privacy").addClass("page_selected");
});
</script>