<%= render "page_sidebar" %>
<div class="page">
	<div class="page_header">
		<h1>Support</h1>
	</div>
	<div class="page_content">
		<p>Help us help you.</p>
		<h2>Having trouble or not sure how to use FlashingDeals?</h2>
		<p>If you have any questions about FlashingDeals, check out the <%= link_to "FAQ", faq_path %></p>
		<h2>Questions about FlashingDeals?</h2>
		<p>We would love to help with whatever you need.</p>
		<p>Have more questions? You can email us at <%= mail_to "support@flashingdeals.com", "support@flashingdeals.com", :subject => "Support" %>.</p>
	</div>
	<div class="page_end"></div>
</div>