<%= render "page_sidebar" %>
<div class="page">
	<p class="page_header">Support</p>
	<div class="page_content">
		<p>Help us help you.</p>
		<p class="page_content_header">Having Trouble or Not Sure How to Use FlashingDeals?</p>
		<p>For any technical issues, trouble using the site, or any how-to inquiries, please contact <%= mail_to "support@flashingdeals.com", "support@flashingdeals.com", :subject => "Support" %>.</p>
		<p class="page_content_header">Curiosities/Feedback</p>
		<p>If you have any other questions about FlashingDeals or any type of feedback, please email us at <%= mail_to "hello@flashingdeals.com", "hello@flashingdeals.com", :subject => "Curiosities/Feedback" %>.</p>
		<p>We would love to hear from you.</p>
	</div>
</div>
<script>
$(document).ready(function () {
	$(".support").addClass("page_selected");
});
</script>