<%= render "page_sidebar" %>
<div class="page">
	<p class="page_header">The Flashy Team</p>
	<div class="page_content">
		<p>FlashingDeals is always growing, and so is our team. We would love to welcome you on our team if you are a passionate, hard working, and fun individual.</p>
		<p>If you are interested in joining the team, please contact <%= mail_to "hello@flashingdeals.com", "hello@flashingdeals.com", :subject => "Opportunities" %>.</p>
	</div>
</div>
<script>
$(document).ready(function () {
	$(".team").addClass("page_selected");
});
</script>