<%= render "page_sidebar" %>
<div class="page">
	<div class="page_header">
		<h1>Terms of Service</h1>
	</div>
	<div class="page_content">
		<p>Read carefully before using this site. If you do not agree with any part of our Terms of Service, do not use the site.</p>
		<h2>Our Terms of Service:</h2>
		<ol>
			<li>Permitted Uses</li>
			<li>Availability of the Site</li>
			<li>Ownership of the Site</li>
			<li>Transmission of Information</li>
			<li>Your Conduct on our Site</li>
			<li>Creating an Account on our Site</li>
			<li>Terms of Sale</li>
			<li>Modification of this Agreement</li>
			<li>Copyright and Trademarks</li>
			<li>Copyright Policy and Digital Millenium Copyright Act (DMCA) Procedures</li>
			<li>Disclaimer of Warranty</li>
			<li>Limitation of Liability</li>
			<li>Arbitration</li>
			<li>End User Communications</li>
			<li>Websites of Others</li>
			<li>Public Nature of Your Statements</li>
			<li>License Grant</li>
			<li>Indemnification/Release</li>
			<li>Termination</li>
			<li>Choice of Law</li>
			<li>Additional Disclosures</li>
		</ol>
		<h2>ACCEPTANCE OF TERMS OF SERVICE</h2>
		<p>Coming soon...</p>
	</div>
	<div class="page_end"></div>
</div>