<%= render "page_sidebar" %>
<div class="page">
	<p class="page_header">Terms of Service</p>
	<div class="page_content">
		<p>Read carefully before using this site.</p>
		<p class="page_content_header">Our Terms of Service</p>
		<ol>
			<li>Permitted Uses</li>
			<li>Availability of the Site</li>
			<li>Ownership of the Site</li>
			<li>Transmission of Information</li>
			<li>Your Conduct on our Site</li>
			<li>Creating an Account on our Site</li>
			<li>Terms of Sale</li>
			<li>Modification of this Agreement</li>
			<li>Copyright and Trademarks</li>
			<li>Copyright Policy and Digital Millenium Copyright Act (DMCA) Procedures</li>
			<li>Disclaimer of Warranty</li>
			<li>Limitation of Liability</li>
			<li>Arbitration</li>
			<li>End User Communications</li>
			<li>Websites of Others</li>
			<li>Public Nature of Your Statements</li>
			<li>License Grant</li>
			<li>Indemnification/Release</li>
			<li>Termination</li>
			<li>Choice of Law</li>
			<li>Additional Disclosures</li>
		</ol>
		<p class="page_content_header">Acceptance of Terms of Service</p>
	</div>
</div>
<script>
$(document).ready(function () {
	$(".terms").addClass("page_selected");
});
</script>