<a id="selector" href="#">My event trigger</a>
<div class="overlayOuter">
	<div class="overlay_top"></div>
	<div class="overlay_left"></div>
	<div class="overlay_right"></div>
  <div class="overlayInner"></div>
</div>

<script>
setInterval(setHeight);
setInterval(setWidth);
$("a#selector").live("click", function(){
	var url = "http://localhost:3000/deals/asus-zenbook-ux31e-dh72-13-3-inch-thin-and-light-ultrabook-silver-aluminum/show_overlay"
	
	$(".overlayInner").load(url,
  	function(){$(".overlayOuter").fadeIn(300); })
});
</script>