<!-- AddThis Button BEGIN -->
<a class="addthis_button_email">
	<%= emailButton %>
</a>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4f3d673b4a33f21a"></script>
<!-- AddThis Button END -->