<!DOCTYPE html>
<html lang="en">
	<head>
  <%= javascript_include_tag 'chrome/application' %>
	<script>
	function numTweets() {
		$.ajax({
			url: "http://otter.topsy.com/urlinfo.js?url=http://www.nytimes.com",
			dataType: 'jsonp',
			success: function(results) {
				var title = results.response.oneforty;
				var numTweets = results.response.trackback_total;
				$('#results').append(title + ' has ' + numTweets + ' tweets.');
			}
		})
	}
	$(document).ready(function() {
		numTweets();
	})
	</script>
	</head>
	<body>
		<div id="results"></div>
	</body>
</html>