<div id="coupon_popup">
	<div id="close_coupon_popup">
		<%= link_to image_tag("/assets/close.png"), "javascript:void(0)", :onclick => "hideCouponPopup();" %>
		<h1>
			Coupon
			<% unless @deal.rebate.nil? || @deal.rebate.empty? %>
				& Rebate
			<% end %>
		</h1>
	</div>
	<div id="coupon_popup_info">
		<table>
			<tr>
				<td id="coupon_rebate_label">
					Use Coupon Code:
				</td>
				<td id="coupon_rebate_info">
					<p><b><%= @deal.coupon %></b></p>
				</td>
			</tr>
			<% unless @deal.rebate.nil? || @deal.rebate.empty? %>
			<tr>
				<td id="coupon_rebate_label">
					Your Rebate Link:
				</td>
				<td id="coupon_rebate_info">
					<p><%= link_to "#{@deal.rebate}", @deal.rebate, :target => "_blank" %></p>
				</td>
			</tr>
			<% end %>
		</table>
		<div id="coupon_rebate_continue">
			<%= link_to "Let's Go", frame_deal_path(@deal), :target => "_blank", :onclick => "hideCouponPopup();" %>
		</div>
	</div>
</div>