<% if @min == 0 && @max == 999 %>
	<li>
		<%= image_tag("/assets/lightning_bolt_flashing.png") %> 
		<%= link_to "Flashing Deals Only", :omega => "echo", :zulu => "foxtrot", :sort => params[:sort], :direction => params[:direction], :search => params[:search] %>
	</li>
<% elsif @min == 4 && @max == 999 %>
	<li>
		<%= image_tag("/assets/lightning_bolt_shocking.png") %> 
		<%= link_to "All FlashBack Deals", :omega => "alpha", :zulu => "bravo", :sort => params[:sort], :direction => params[:direction], :search => params[:search] %>
	</li>
<% end %>