<% if current_user.admin? %>
	<p onclick="toggleInfoEditForm();"><%= auto_link(@deal.info, :all, :target => "_blank") %></p>
<% else %>
	<p><%= auto_link(@deal.info, :all, :target => "_blank") %></p>
<% end %>