<% if current_user.admin? %>
	<div onclick="toggleInfoEditForm();">
		<p><%= to_html(auto_link(@deal.info, :all, :target => "_blank")) %></p>
	</div>
<% else %>
	<p><%= to_html(auto_link(@deal.info, :all, :target => "_blank")) %></p>
<% end %>