<%= form_for current_user.feedbacks.build, :remote => true do |f| %>
	<div class="field">
		<%= f.text_area(:content, :cols => 20, :rows => 20, :value => "", :placeholder => "We are always adding new features, please give us your feedback", :autocomplete => "off") %>
	</div>
	<div class="actions">
		<%= f.submit "Submit" %>
	</div>
<% end %>
<script>
$(document).ready(function() {
	$('textarea#feedback_content').autoResize();
});
</script>