<div class="flash success">
	Thank you for giving us your feedback. We greatly appreciate your help :-D<%= link_to image_tag("/assets/close.png"), "javascript: void(0);", :onclick => "closeFlashUp()", :class => "flash_close" %>
</div>