#grid_container_large {
	display: none;
	margin: 0 auto;
}

.box_deal_large {
	width: 250px;
	position: absolute;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px dotted rgb(175, 175, 175);
	background: rgb(255, 255, 255);
	-webkit-box-shadow: 0px 1px 8px rgba(0, 0, 0, .3);
	-khtml-box-shadow: 0px 1px 8px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0px 1px 8px rgba(0, 0, 0, .3);
	-ms-box-shadow: 0px 1px 8px rgba(0, 0, 0, .3);
	-o-box-shadow: 0px 1px 8px rgba(0, 0, 0, .3);
	box-shadow: 0px 1px 8px rgba(0, 0, 0, .3);
}

#box_deal_large_lightning {
	float: left;
	width: 20px;
	height: 20px;
}

#box_deal_large_lightning img {
	width: 20px;
	height: 20px;
}

#box_deal_large_image_container {
	width: 200px;
	height: 200px;
	text-align: center;
	margin: 0 auto;
}

.box_deal_large_link {
	display: block;
	width: 200px;
	height: 200px;
	margin: 0 auto;
}

img#box_deal_large_image {
	max-height: 200px;
	max-width: 200px;
	position: relative;
}

div.box_deal_large_share {
	display: none;
	position: absolute;
	width: 250px;
	height: 35px;
	margin-top: -30px;
}

div.box_deal_large_share ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	height: 35px;
}

div.box_deal_large_share ul li {
	display: inline-block;
	padding: 0px 20px;
}

div.box_deal_large_share ul li a {
	display: block;
	width: 35px;
	height: 35px;
}

div.box_deal_large_share ul li a:hover {
	opacity: 1;
}

div.box_deal_large_share ul li a:active {
	-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	-khtml-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	-moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	-ms-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	-o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

div.box_deal_large_share ul li img {
	width: 35px;
	height: 35px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}

#box_deal_large_name {
	margin: 10px 0px;
}

#box_deal_large_name h1 {
	font-family: Helvetica, Arial;
	font-size: 14px;
	color: rgb(75, 75, 75);
	line-height: 16px;
	margin-bottom: 3px;
}

#box_deal_large_name p {
	font-family: Helvetica, Arial;
	font-size: 11px;
	color: rgb(150, 150, 150);
}

#box_deal_large_price {
	height: 14px;
	margin-bottom: 5px;
}

#box_deal_large_price h1 {
	text-align: right;
	font-family: Helvetica, Arial;
	font-size: 14px;
	color: rgb(75, 75, 75);
	margin: 0;
}

div.box_deal_large_comment {
	padding-top: 5px;
	margin-top: 5px;
	border-top: 1px dotted rgb(200, 200, 200);
}

div#box_deal_large_comment_user {
	width: 35px;
	height: 35px;
	float: left;
	text-align: center;
}

#box_deal_large_comment_user img {
	max-width: 35px;
	max-height: 35px;
}

div#box_deal_large_comment_content {
	width: 205px;
	float: right;
}

div#box_deal_large_comment_content p {
	font-family: Helvetica, Arial;
	font-size: 13px;
	color: rgb(150, 150, 150);
	word-wrap: break-word;
	max-height: 51px;
	overflow: hidden;
}

.box_deal_anchor_not_selected {
	opacity: .75;
	-webkit-box-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
	-khtml-box-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
	-moz-box-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
	-ms-box-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
	-o-box-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
	box-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
}

.box_deal_anchor_selected {
	opacity: 1;
	-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	-khtml-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	-moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	-ms-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	-o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

div.box_deal_large_comment_form {
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px dotted rgb(200, 200, 200);
}

div.box_deal_large_comment_form .box_deal_comment_form_user {
	width: 35px;
	height: 35px;
	float: left;
	text-align: center;
}

div.box_deal_large_comment_form .box_deal_comment_form_user img {
	max-height: 35px;
	max-width: 35px;
}

.box_deal_large_comment_form textarea {
	font-family: Helvetica, Arial;
	font-size: 13px;
	color: rgb(75, 75, 75);
	width: 199px;
	height: 30px;
	float: right;
	padding: 2px;
	margin: 0px;
	border: 1px solid rgb(200, 200, 200);
	resize: none;
	margin-bottom: 5px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}

.box_deal_large_comment_form textarea:hover {
	border: 1px solid rgb(150, 150, 150);
}

.box_deal_large_comment_form textarea:focus {
	border: 1px solid rgb(150, 150, 150);
}

.box_deal_large_comment_form input {
	font-family: Verdana;
	font-size: 12px;
	padding: 5px;
	text-align: center;
	border: 1px solid rgb(200, 200, 200);
	background: rgb(245, 245, 245);
	color: rgb(75, 75, 75);
	float: right;
	margin: 0;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: all .2s linear;
	-khtml-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.box_deal_large_comment_form input:hover, .box_deal_large_comment_form input:focus {
	border: 1px solid rgb(150, 150, 150);
	background: rgb(255, 255, 255);
}