div#facebook_twitter_home {
	text-align: left;
	font-size: 0px;
	width: 150px;
	float: left;
}

div#facebook_twitter_home ul {
	list-style-type: none;
	height: 24px;
	padding: 1px 0px;
	margin: 0;
}

div#facebook_twitter_home ul li {
	height: 20px;
	display: inline-block;
}

li#facebook_like_li {
	width: 50px;
}

li#twitter_follow_li {
	width: 61px;
}

div#facebook_like {
	width: 44px;
	height: 20px;
	background: url("/assets/facebook_like.png");
}

div#facebook_like:hover {
	background: url("/assets/facebook_like_hover.png");
}