#header {
	height: 44px;
  width: 100%;
	overflow: visible;
	background: rgb(100, 100, 100);
	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, .4);
	-khtml-box-shadow: 0px 2px 5px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, .4);
	-ms-box-shadow: 0px 2px 5px rgba(0, 0, 0, .4);
	-o-box-shadow: 0px 2px 5px rgba(0, 0, 0, .4);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, .4);
}

.hd {
	padding: 0px 10px;
	margin: 0 auto;
}

.hd div#header_logo {
	position: relative;
	top: 8px;
	float: left;
	width: 232px;
	height: 36px;
	margin-right: 20px;
}

.hd ul {
  margin: 0;
  padding: 0;
}

.hd ul {
	list-style-type: none;
}

ul.account_nav {
  float: right;
  height: 44px;
}

ul.account_nav li {
	display: inline-block;
}

li.nav_about_link {
	float: left;
}

li.nav_login_link {
	
}

.hd ul.header_nav {
  float: left;
  height: 44px;
}

.hd ul.header_nav li{
  display: inline-block;
}

.not_selected {
	display: block;
	height: 16px;
	padding: 14px 15px;
  font-family: Helvetica, Arial;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  color: rgb(200, 200, 200);
}

.not_selected:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background: rgb(75, 75, 75);
}

.selected {
	display: block;
	height: 16px;
	padding: 14px 15px;
  font-family: Helvetica, Arial;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.selected:hover {
	text-decoration: none;
	color: rgb(255, 255, 255);
	background: rgb(75, 75, 75);
}

div#category_drop_down {
	position: absolute;
	top: 44px;
	z-index: 500;
	display: none;
}

ul#category_drop_down_list {
	text-align: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 312px;
	background: rgb(255, 255, 255);
	border-right: 1px solid rgb(200, 200, 200);
	border-left: 1px solid rgb(200, 200, 200);
	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
	-khtml-box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
	-ms-box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
	-o-box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
}

ul#category_drop_down_list li {
	float: left;
	display: inline-block;
	width: 156px;
	padding: 0;
}

ul#category_drop_down_list li a {
	display: block;
	padding: 10px;
	width: 136px;
	font-family: Verdana;
	font-size: 11px;
	color: rgb(75, 75, 75);
	-webkit-transition: .1s all linear;
	-khtml-transition: .1s all linear;
	-moz-transition: .1s all linear;
	-ms-transition: .1s all linear;
	-o-transition: .1s all linear;
	transition: .1s all linear;
}

ul#category_drop_down_list li a:hover {
	text-decoration: none;
	color: rgb(75, 75, 75);
	background: rgb(210, 210, 210);
}