html, body {
	height: 100%;
}

body {
  /*background: rgb(214, 249, 255);*/
  background: rgb(240, 240, 250);
}

#wrapper {
	min-width: 951px;
	min-height: 100%;
	position: relative;
	overflow-x: hidden;
}

#content {
	padding: 10px;
	padding-bottom: 40px;
	width: 951px;
	margin: auto;
}

#debug {
	position: absolute;
	z-index: 100;
}

div.clear {
	height: 0;
	font-size: 1px;
	margin: 0;
	padding: 0;
	line-height: 0;
	clear: both;
}

h1, h2, h3, h4, h5 {
	font-family: Helvetica, Arial;
}

a {
	text-decoration: none;
	color: rgb(44, 175, 227);
}

a:hover {
	text-decoration: underline;
	color: rgb(4, 135, 187);
}

a.grey_link {
	color: rgb(75, 75, 75);
}

a.grey_link:hover {
	color: rgb(150, 150, 150);
}

p {
	font-family: Helvetica, Arial;
	color: rgb(75, 75, 75);
}

pre.debug_dump {
	position: absolute;
	z-index: 8000;
	top: 80px;
	left: 0;
	font-family: Verdana;
	font-size: 10px;
	color: rgb(75, 75, 75);
	text-align: left;
	width: 500px;
}

div.flash {
	font-family: Verdana;
	font-size: 14px;
	padding: 10px;
}

.success {
	background: rgb(230, 239, 194);
	border: 1px solid rgb(110, 220, 90);
	color: rgb(38, 68, 9);
}

.error {
	background: rgb(251, 227, 228);
	border: 1px solid rgb(255, 26, 0);
	color: rgb(138, 31, 17);
}

.notice {
	background: rgb(255, 246, 191);
	border: 1px solid rgb(255, 211, 36);
	color: rgb(81, 71, 33);
}

input::-webkit-input-placeholder {
	color: rgb(175, 175, 175);
}

input:focus::-webkit-input-placeholder {
	color: rgb(210, 210, 210);
}

input:-moz-placeholder {
	color: rgb(175, 175, 175);
}

input:focus:-moz-placeholder {
	color: rgb(210, 210, 210);
}

.center {
	text-align: center;
}

.pointer {
	cursor: pointer;
	cursor: hand;
}