#my_account_drop_down {
	display: none;
	position: absolute;
	top: 44px;
	right: 15px;
	width: 150px;
	z-index: 100;
}

div#my_account_drop_down ul {
	padding: 0;
	margin: 0;
	background: rgb(255, 255, 255);
	border-right: 1px solid rgb(200, 200, 200);
	border-left: 1px solid rgb(200, 200, 200);
	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
	-khtml-box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
	-ms-box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
	-o-box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
}

div#my_account_drop_down ul li {
	text-align: left;
	display: block;
}

.my_account_drop_down_border {
	border-bottom: 1px dotted rgb(200, 200, 200);
}

#my_account_drop_down a {
	display: block;
	width: 130px;
	padding: 10px;
	text-decoration: none;
	font-family: Verdana;
	font-size: 11px;
	color: rgb(75, 75, 75);
	-webkit-transition: .1s all linear;
	-khtml-transition: .1s all linear;
	-moz-transition: .1s all linear;
	-ms-transition: .1s all linear;
	-o-transition: .1s all linear;
	transition: .1s all linear;
}

#my_account_drop_down a:hover {
	text-decoration: none;
	color: rgb(75, 75, 75);
	background: rgb(210, 210, 210);
}

#my_account {
	display: block;
	height: 20px;
	padding: 12px 0px;
	text-decoration: none;
  font-family: Helvetica, Arial;
  font-weight: bold;
  font-size: 13px;
  margin-right: 5px;
  float: right;
  text-align: right;
  color: rgb(200, 200, 200);
}

#my_account:hover {
	color: rgb(255, 255, 255);
	background: rgb(75, 75, 75);
}

#my_account_pic_name {
	float: left;
}

#my_account_picture {
	float: left;
	max-height: 20px;
	padding: 0px 5px;
}

.my_account_name {
	float: left;
	position: relative;
	top: 2px;
	padding-right: 5px;
}

#my_account_notification {
	position: absolute;
	width: 10px;
	height: 20px;
}

img#notice {
	margin-top: 4px;
}