div#my_deals {
	width: 100%;
}

div#my_deals_side {
	float: left;
	width: 211px;
	padding: 10px;
	background: rgb(255, 255, 255);
	border: 1px dotted rgb(200, 200, 200);
	-webkit-box-shadow: 0px 1px 5px rgba(75, 75, 75, .25);
	-khtml-box-shadow: 0px 1px 5px rgba(75, 75, 75, .25);
	-moz-box-shadow: 0px 1px 5px rgba(75, 75, 75, .25);
	-ms-box-shadow: 0px 1px 5px rgba(75, 75, 75, .25);
	-o-box-shadow: 0px 1px 5px rgba(75, 75, 75, .25);
	box-shadow: 0px 1px 5px rgba(75, 75, 75, .25);
}

div#my_deals_side p {
	font-size: 14px;
}

div#my_deals_photo {
	width: 211px;
	text-align: center;
	margin-bottom: 5px;
}

div#my_deals_photo a {
	opacity: 1;
	-webkit-transition: all .2s linear;
	-khtml-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

div#my_deals_photo a:hover {
	opacity: .8;
}

div#my_deals_watching {
	padding: 5px 0px;
	margin: 5px 0px;
	border-bottom: 1px dotted rgb(200, 200, 200);
}

div#my_deals_watching p {
	color: rgb(150, 150, 150);
}

.my_deals_div {
	padding: 5px 0px;
}

div#my_deals_info a {
	color: rgb(75, 75, 75);
	-webkit-transition: all .2s ease-in-out;
	-khtml-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

div#my_deals_info a:hover {
	color: rgb(150, 150, 150);
}

div#clear_dead_deals {
	padding: 5px 0px;
}

div#clear_dead_deals a {
	font-family: Helvetica, Arial;
	font-size: 14px;
	color: rgb(255, 26, 0);
}

div#clear_dead_deals a:hover {
	color: rgb(255, 26, 0);
}

div#my_deals_deals {
	margin-left: 258px;
}

div#my_deals_name {
	text-align: center;
	margin-bottom: 10px;
}

div#my_deals_name h1 {
	font-family: Helvetica, Arial;
	font-size: 40px;
	color: rgb(75, 75, 75);
	margin: 0 auto;
	width: 500px;
}