div#notifications {
	width: 700px;
	float: left;
}

.notifications_header {
	font-family: Helvetica, Arial;
	font-size: 28px;
	color: rgb(75, 75, 75);
	padding: 20px 0px 10px 0px;
}

div#notifications h2 {
	font-size: 14px;
	color: rgba(150, 150, 150, 1);
	margin: 5px 1px 3px 1px;
}

div#notifications ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div#notification {
	padding: 5px;
	background: rgba(255, 255, 255, 1);
	border: 1px solid rgba(200, 200, 200, 1);
/*	border: 1px solid rgba(148, 222, 240, 1); */
	margin-bottom: 3px;
}

div#notification p {
	height: 15px;
	width: 608px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	float: left;
}

div#notification_time {
	width: 70px;
	float: right;
	text-align: right;
	font-family: Helvetica, Arial;
	font-size: 12px;
	color: rgba(150, 150, 150, 1);
}

a#notification_link {
	display: block;
	width: 698px;
	height: 25px;
	border: 1px solid rgba(200, 200, 200, 1);
	position: absolute;
	z-index: 0;
	margin-top: -6px;
	margin-left: -6px;
	-webkit-transition: all .2s linear;
	-khtml-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

a#notification_link:hover {
	width: 698px;
	height: 25px;
	border: 1px solid rgba(150, 150, 150, 1);
}