.overlayOuter{
	display: none;
	position: fixed;
	z-index: 8000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(255, 255, 255, .85);
	background: rgba(0, 0, 0, .5);
	overflow-x: hidden;
}

.overlayInner{
	margin: 0 auto;
	width: 907px;
	position: static;
}

.overlay_top {
	height: 54px;
	width: 100%;
	z-index: 8001;
}

.overlay_left {
	position: absolute;
	left: 0;
	top: 54px;
	z-index: 8001;
}

.overlay_right {
	position: absolute;
	right: 0;
	top: 54px;
	z-index: 8001;
}

.overlay_bottom {
	width: 100%;
	z-index: 8001;
}

.stationary {
	overflow: hidden;
}