.page {
	position: relative;
	top: 20px;
	width: 690px;
	float: right;
}

.page_header {
	font-family: Helvetica, Arial;
	font-weight: 400;
	font-size: 36px;
	margin-bottom: 25px;
}

.page_content {
	padding-bottom: 50px;
}

.page_content p {
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 18px;
}

.page_content .page_content_header {
	font-size: 20px;
}

.page_content ol {
	padding-left: 30px;
	margin-bottom: 18px;
}

.page_content ol li {
	font-family: Helvetica, Arial;
	font-size: 14px;
	color: rgb(75, 75, 75);
	margin-bottom: 5px;
}

.page_sidebar {
	position: relative;
	top: 20px;
	width: 215px;
	float: left;
}

.page_sidebar ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-align: right;
}

.page_sidebar ul li {
	margin-bottom: 5px;
}

.page_sidebar ul li a {
	font-family: Helvetica, Arial;
	font-weight: 400;
	font-size: 18px;
	color: rgb(75, 75, 75);
	display: block;
	width: 195px;
	padding: 10px 20px 10px 0px;
	border-top: 1px dotted rgb(235, 235, 235);
	border-bottom: 1px dotted rgb(235, 235, 235);
	-webkit-transition: .1s all ease-in-out;
	-khtml-transition: .1s all ease-in-out;
	-moz-transition: .1s all ease-in-out;
	-ms-transition: .1s all ease-in-out;
	-o-transition: .1s all ease-in-out;
	transition: .1s all ease-in-out;
}

.page_sidebar ul li a:hover {
	border-top: 1px dotted rgb(100, 100, 100);
	border-bottom: 1px dotted rgb(100, 100, 100);
	text-decoration: none;
}

.page_sidebar ul li .page_selected {
	border-top: 1px dotted rgb(100, 100, 100);
	border-bottom: 1px dotted rgb(100, 100, 100);
}

.page_sidebar ul li .page_selected:hover {
	border-top: 1px dotted rgb(100, 100, 100);
	border-bottom: 1px dotted rgb(100, 100, 100);
}