div.pagination {
	text-align: center;
	padding: 5px 0px;
	margin: 5px 0px;
	font-size: 11px;
}

div.pagination em {
	text-decoration: none;
	border: 1px solid rgba(200, 200, 200, .5);
	padding: 5px 10px;
	margin-left: 2px;
	margin-right: 2px;
	font-family: Verdana;
	color: rgba(255, 26, 0, 1);
}

div.pagination a {
	text-decoration: none;
	border: 1px solid rgba(200, 200, 200, 1);
	padding: 5px 10px;
	margin-left: 2px;
	margin-right: 2px;
	font-family: Verdana;
	color: rgba(48, 157, 207, 1);
	-webkit-transition: all .2s linear;
	-khtml-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

div.pagination a:hover {
	color: rgba(255, 255, 255, 1);
	background: rgba(48, 157, 207, 1);
	border: 1px solid rgba(18, 127, 177, 1);
}

div.pagination a.previous_page, div.pagination a.next_page {
	border: none;
}

span.previous_page, span.next_page {
	text-decoration: none;
	padding: 5px 10px;
	margin-left: 2px;
	margin-right: 2px;
	font-family: Verdana;
}

span.disabled {
	border: none;
	color: rgba(200, 200, 200, 1);
}

span.gap {
	font-family: Verdana;
	font-size: 12px;
	color: rgba(48, 157, 207, 1);
}

div#deal_nav {
	width: 100%;
	height: 25px;
	margin-top: 1px;
	margin-bottom: 10px;
	text-align: center;
}
 
div#sort, div#sort_non_ajax {
	width: 100%;
}

div#sort a, div#sort_non_ajax a {
	text-decoration: none;
	font-size: 12px;
	font-family: Verdana;
	font-weight: bold;
	padding: 0px 5px 0px 10px;
	color: rgba(48, 157, 207, 1);
	-webkit-transition: all .2s ease-in-out;
	-khtml-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

div#sort a:hover, div#sort_non_ajax a:hover {
	text-decoration: underline;
	color: rgba(18, 127, 177, 1);
}

.desc {
	background: url("/assets/descending.png");
	background-size: 7px 7px;
	background-repeat: no-repeat;
	background-position: left 3px;
}

.asc {
	background: url("/assets/ascending.png");
	background-size: 7px 7px;
	background-repeat: no-repeat;
	background-position: left 3px;
}

div#paginate_range {
	width: 50%;
	float: left;
	text-align: left;
	padding: 5px;
}

div#paginate_range h1 {
	font-size: 12px;
	font-family: Verdana;
	color: rgba(150, 150, 150, 1);
}

div#back_to_top {
	margin: 10px 0px;
	font-family: Verdana;
	font-size: 14px;
	color: rgba(97, 196, 25, 1);
	width: 125px;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

div#back_to_top:hover {
	color: rgba(255, 26, 0, 1);
}

div#back_to_top a {
	font-size: 12px;
	text-decoration: none;
	color: rgba(44, 175, 227, 1);
	padding: 3px 5px;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

div#back_to_top a:hover {
	opacity: .75;
	text-decoration: underline;
}

#endless_pagination {
	display: none;
	width: 100%;
}

#loading_deals {
	position: absolute;
}

.feed_pagination {
	display: none;
}

.building_feed {
	width: 100%;
	padding: 10px 0px;
	border-top: 1px dashed rgb(200, 200, 200);
	border-bottom: 1px dashed rgb(200, 200, 200);
	text-align: center;
	font-family: Helvetica, Arial;
	font-weight: bold;
	font-size: 14px;
	color: rgb(150, 150, 150);
}