/* Blog Index & Post Index */
.postSingle {
	float: right;
	width: 800px;
	-webkit-box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.3);
	-khtml-box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.3);
}

.postSingle nav {
	position: absolute;
	padding: 0 10px 0 0;
	margin: 0;
	margin-left: -116px;
	float: left;
	text-align: right;
	border-right: 1px dotted rgb(200, 200, 200);
}

.postSingleDay {
	font-size: 20px;
	color: rgb(100, 100, 100);
	padding: 10px 10px 10px 0;
}

.postSingleDate {
	font-size: 14px;
	color: rgb(150, 150, 150);
	padding: 10px 10px 10px 0;
	border-top: 1px dotted rgb(200, 200, 200);
}

.postHeader {
	padding: 26px 30px;
	background: rgb(255, 255, 255);
	border-bottom: 1px dotted rgb(200, 200, 200);
}

.postHeader div {
	position: absolute;
	float: left;
	margin-top: -20px;
	margin-left: -25px;
}

.postHeader div p {
	font-size: 12px;
	color: rgb(150, 150, 150);
}

.postSingle h1 {
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 28px;
	line-height: 35px;
	text-align: right;
	color: rgb(100, 100, 100);
}

.postSingle h1 a {
	-webkit-transition: all .3s ease-in-out;
	-khtml-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.postSingle h1 a:hover {
	text-decoration: none;
}

.postSingle section {
	padding: 20px 30px;
	background: rgb(255, 255, 255);
}

.blogPosts .postSingle section {
	overflow: hidden;
	max-height: 500px;
	padding: 20px 30px 0 30px;
}

.postSingle section  img {
	max-width: 740px;
}

.postSingle section p {
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 15px;
}

.articleSpacer {
	height: 60px;
	background: rgb(255, 255, 255);
}

.articleSpacer a {
	float: right;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding: 22px 30px;
	-webkit-transition: all .3s ease-in-out;
	-khtml-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.postShadow {
	float: right;
	width: 800px;
	height: 10px;
	background: url("/assets/post_shadow.png");
	margin-bottom: 40px;
}

/* Post Show */
.blogWaypoint {
	position: absolute;
	top: 205px;
	width: 1000px;
	height: 0px;
}

.postShow nav.fixed {
	position: fixed;
	top: 35px;
}

.socialShare {
	position: relative;
	top: 10px;
	width: 96px;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.postTwitter {
	float: right;
	width: 59px;
	height: 20px;
	margin-bottom: 10px;
	font-size: 0;
}

.postTwitter div {
	width: 59px;
	height: 20px;
	background: url("/assets/tweet.jpg");
}

.postTwitter div:hover {
	background-position: -59px 0;
}

.postTwitter div:active {
	background-position: -118px 0;
}

.postFacebook {
	float: right;
	overflow: hidden;
	width: 44px;
	height: 20px;
}

.postComments {
	padding: 20px 30px;
	background: rgb(255, 255, 255);
	border-top: 1px dotted rgb(200, 200, 200);
}

.publishDelete {
	position: relative;
	top: 40px;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.publishDelete li {
	text-align: right;
}

.publishDelete a {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding: 5px 0;
}

.postArrows {
	float: right;
	width: 400px;
	padding: 0 200px;
	margin-top: -15px;
}

.postArrows a {
	display: block;
	width: 90px;
	padding: 10px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 24px;
	color: rgb(100, 100, 100);
	-webkit-transition: .2s all ease-in-out;
	-khtml-transition: .2s all ease-in-out;
	-moz-transition: .2s all ease-in-out;
	-ms-transition: .2s all ease-in-out;
	-o-transition: .2s all ease-in-out;
	transition: .2s all ease-in-out;
}

.postArrows a:hover {
	text-decoration: none;
	opacity: .75;
}

.postArrows img {
	width: 19px;
	height: 31px;
}

.prevPost {
	float: left;
}

.prevPost img {
	float: left;
	margin-right: 10px;
}

.nextPost {
	float: right;
	text-align: right;
}

.nextPost img {
	float: right;
	margin-left: 10px;
}