#previous_deal {
	display: block;
	width: 35px;
	margin-right: 6px;
	float: left;
	-webkit-transition: all .2s linear;
	-khtml-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

#previous_deal:hover {
	opacity: .8;
}

#next_deal {
	display: block;
	width: 35px;
	margin-left: 6px;
	float: right;
	-webkit-transition: all .2s linear;
	-khtml-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

#next_deal:hover {
	opacity: .8;
}

#previous_arrow {
	position: relative;
	top: 200px;
	border-top: 35px solid transparent;
	border-bottom: 35px solid transparent;
	border-right: 35px solid rgb(200, 200, 200);
}

#next_arrow {
	position: relative;
	top: 200px;
	border-top: 35px solid transparent;
	border-bottom: 35px solid transparent;
	border-left: 35px solid rgb(200, 200, 200);
}

#left_deal {
	display: block;
	width: 35px;
	height: 1px;
	margin-right: 6px;
	float: left;
}

#right_deal {
	display: block;
	width: 35px;
	height: 1px;
	margin-left: 6px;
	float: right;
}

a#previous_deal_overlay {
	float: left;
	display: block;
	width: 35px;
	height: 70px;
	padding-right: 6px;
	position: relative;
	-webkit-transition: all .2s linear;
	-khtml-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

a#previous_deal_overlay:hover {
	opacity: .8;
}

a#next_deal_overlay {
	float: right;
	display: block;
	width: 35px;
	height: 70px;
	padding-left: 6px;
	position: relative;
	-webkit-transition: all .2s linear;
	-khtml-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

a#next_deal_overlay:hover {
	opacity: .8;
}

#previous_arrow_overlay {
	position: relative;
	top: 200px;
	border-top: 35px solid transparent;
	border-bottom: 35px solid transparent;
	border-right: 35px solid rgb(200, 200, 200);
}

#next_arrow_overlay {
	position: relative;
	top: 200px;
	border-top: 35px solid transparent;
	border-bottom: 35px solid transparent;
	border-left: 35px solid rgb(200, 200, 200);
}

#left_deal_overlay {
	display: block;
	width: 35px;
	height: 1px;
	margin-right: 2px;
	float: left;
}

#right_deal_overlay {
	display: block;
	width: 35px;
	height: 1px;
	margin-left: 2px;
	float: right;
}

div#previous_top {
	float: left;
	width: 41px;
	height: 50px;
	margin-left: -41px;
}

div#next_top {
	float: right;
	width: 41px;
	height: 50px;
	margin-right: -41px;
}

div#previous_bottom {
	float: left;
	width: 41px;
	height: 50px;
	margin-left: -41px;
	position: relative;
}

div#next_bottom {
	float: right;
	width: 41px;
	height: 50px;
	margin-right: -41px;
	position: relative;
}