div#unsubscribe {
	width: 550px;
	margin: 0 auto;
}

div#unsubscribe_header {
	padding: 20px;
	font-family: Helvetica, Arial;
	font-size: 28px;
	color: rgb(75, 75, 75);
}

div#unsubscribe_body {
	padding: 10px 20px 20px 20px;
}

div#unsubscribe_body p {
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 14px;
}