img#user_photo_tiny {
	max-height: 30px;
	max-width: 30px;
}

img#user_photo_subcomment {
	max-height: 40px;
	max-width: 40px;
}

img#user_photo_small {
	max-height: 50px;
	max-width: 50px;
}

img#user_photo_medium {
	max-height: 211px;
	max-width: 211px;
}

img#cropbox {
	max-height: 500px;
	max-width: 500px;
}