div#watchers {
	float: right;
	width: 755px;
}

ul#watchers {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

div#show_watchers {
	display: none;
	padding: 10px;
	background: rgba(75, 75, 75, .9);
	color: rgba(255, 255, 255, 1);
	width: 172px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	position: absolute;
}

div#show_watchers ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

div#show_watchers ul li {
	font-family: Verdana;
	font-size: 12px;
	padding: 5px 0px;
}

div#watching_deals {
	width: 724px;
	margin: auto;
}