/* colors.css */
div#colors {
	background: rgb(0, 0, 0);
	font-family: Verdana;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	width: 50%;
	margin: auto;
	padding: 20px 0px;
}

.iframe_blue {
	color: rgb(173, 217, 228);
}

.background_blue_start {
	color: rgb(214, 249, 255);
}

.background_blue_end {
	color: rgb(158, 232, 250);
}

.header_blue {
	color: rgb(71, 224, 255);
}

.dark_blue {
	color: rgb(44, 175, 227);
}

.dark_blue_hover {
	color: rgb(4, 135, 187);
}

.border_blue {
	color: rgb(148, 222, 240);
}

.title_background_blue {
	color: rgb(173, 217, 228);
}

.blue_background {
	color: rgb(200, 239, 249);
}

.blue {
	color: rgb(48, 157, 207);
}

.red {
	color: rgb(255, 26, 0);
}

.green {
	color: rgb(97, 196, 25);
}

.green_light {
	color: rgb(101, 209, 84);
}

.green_border {
	color: rgb(41, 154, 11);
}

.green_border_header {
	color: rgb(110, 220, 90);
}

.grey_25 {
	color: rgb(25, 25, 25);
}

.grey_75 {
	color: rgb(75, 75, 75);
}

.grey_150 {
	color: rgb(150, 150, 150);
}

.grey_200 {
	color: rgb(200, 200, 200);
}