/* feedback.css */
div#feedback_list {
	width: 678px;
	float: right;
	background: rgb(255, 255, 255);
	padding: 10px;
	border: 1px solid rgb(200, 200, 200);
}

div#feedback_header {
	margin-bottom: 10px;
}

div#feedback_header a#feedback {
	font-family: Verdana;
	font-size: 14px;
	color: rgb(150, 150, 150);
}

div#feedback_header a#feedback:hover {
	text-decoration: none;
	color: rgb(100, 100, 100);
}

div#feedback_form textarea {
	width: 177px;
	height: 150px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	font-family: Helvetica, Arial;
	font-size: 14px;
	color: rgb(75, 75, 75);
	border: 1px solid rgb(200, 200, 200);
	padding: 3px;
	margin-top: 0px;
	margin-bottom: 5px;
	resize: none;
}

div#feedback_form textarea:hover {
	border: 1px solid rgb(150, 150, 150);
}

div#feedback_form textarea:focus {
	border: 1px solid rgb(48, 157, 207);
}

div#feedback_form div.actions {
	width: 150px;
	margin: auto;
}

div#feedback_form div.actions input {
	width: 150px;
	margin: auto;
	font-family: Verdana;
	font-size: 12px;
	padding: 5px 0px;
	text-align: center;
	border: 1px solid rgb(150, 150, 150);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	color: rgb(75, 75, 75);
	-webkit-box-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
	-moz-box-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
	-ms-box-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
	-o-box-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
	box-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
	opacity: .85;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

div#feedback_form div.actions input {
	background: rgb(238,238,238); /* Old browsers */
}

div#feedback_form div.actions input:hover, div#feedback_form div.actions input:focus {
	background: rgb(248,248,248); /* Old browsers */
	border: 1px solid rgb(160, 160, 160);
}

div#feedback_form div.actions input:active {
	background: rgb(214,214,214); /* Old browsers */
	-webkit-box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
	-moz-box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
	-ms-box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
	-o-box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
	box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
}

/* footer.css */
#footer {
	overflow: hidden;
	height: 140px;
  background: #4b4b4b; /* Old browsers */
  background: -moz-linear-gradient(top,  #4b4b4b 0%, #191919 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4b4b4b), color-stop(100%,#191919)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #4b4b4b 0%,#191919 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #4b4b4b 0%,#191919 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #4b4b4b 0%,#191919 100%); /* IE10+ */
  background: linear-gradient(top,  #4b4b4b 0%,#191919 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b4b4b', endColorstr='#191919',GradientType=0 ); /* IE6-9 */
  border-top: 5px solid #6EDC5A;
  border-bottom: 32px solid #323232;
  margin-top: -177px;
}

.fd {
  width: 951px;
  margin: auto;
}

.fd table {
  padding: 0;
  margin: 10px 0;
  float: right;
}

.fd table tr {
  font-size: 11px;
  font-weight: bold;
  font-family: Verdana;
}

.fd table tr td {
  padding: 0 10px;
  width: 91px;
}

.fd table tr td p {
  margin-bottom: 10px;
  font-size: 11px;
  font-weight: bold;
  font-family: Verdana;
  color: #FFFFFF;
}

.fd div ul {
  list-style-type: none;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.fd div ul li {
  padding: 5px 0;
}

.fd div ul li a {
  text-decoration: none;
  color: #969696;
  font-size: 11px;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.fd div ul li a:hover {
  text-decoration: underline;
  color: #FFFFFF;
}

#footer_copyright {
	height: 32px;
	background: #323232;
}

div#copyright {
	width: 951px;
	margin: auto;
	padding-top: 10px;
	text-align: center;	
}

p.copyright {
  font-family: Verdana;
  color: #FFFFFF;
  font-size: 10px;
  margin: 0;
  font-weight: normal;
}

/* friend_requests.css */
div#friend_requests {
	width: 700px;
	float: left;
}

div#friend_requests h1 {
	font-family: Helvetica, Arial;
	font-weight: bold;
	font-size: 14px;
	background: rgb(173, 217, 228);
	color: rgb(44, 175, 227);
	padding: 10px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-ms-border-top-left-radius: 5px;
	-o-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-ms-border-top-right-radius: 5px;
	-o-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	margin-bottom: 5px;
}

/* friends.css */
h3#friend_request_pending {
	font-family: Verdana;
	font-size: 14px;
	color: rgb(150, 150, 150);
	margin-bottom: 14px;
}

div#friends ul, div#friend_requests ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div#friends {
	width: 724px;
	float: right;
}

div#friends h1 {
	font-family: Helvetica, Arial;
	font-weight: bold;
	font-size: 14px;
	background: rgb(173, 217, 228);
	color: rgb(44, 175, 227);
	padding: 10px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-ms-border-top-left-radius: 5px;
	-o-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-ms-border-top-right-radius: 5px;
	-o-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	margin-bottom: 5px;
}

h2#user_name_friends {
	font-family: Helvetica, Arial;
	font-weight: bold;
	color: rgb(97, 196, 25);
	text-align: center;
	font-size: 20px;
	margin: 0;
}

div#friend_arrow {
	width: 0;
	height: 0;
	border-top: 5px solid rgb(150, 150, 150);
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

div.accept_ignore {
	width: 121px;
}

div#accept, div#ignore {
	width: 58px;
}

div#accept {
	float: left;
}

div#ignore {
	float: right;
}

div#add_friend {
	width: 80px;
	margin: auto;
	margin-bottom: 14px;
	text-align: center;
}

div#add_friend a.add_friend {
	display: block;
	margin-top: 2px;
	padding: 5px;
	font-family: Verdana;
	font-size: 12px;
	padding: 5px;
	text-align: center;
	border: 1px solid rgb(150, 150, 150);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	color: rgb(75, 75, 75);
	-webkit-box-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
	-moz-box-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
	-ms-box-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
	-o-box-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
	box-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

div#add_friend a.add_friend {
	background: rgb(238,238,238); /* Old browsers */
}

div#add_friend a.add_friend:hover, div#add_friend a.add_friend:focus {
	background: rgb(248,248,248); /* Old browsers */
	border: 1px solid rgb(160, 160, 160);
	color: rgb(75, 75, 75);
	text-decoration: none;
}

div#add_friend a.add_friend:active {
	background: rgb(214,214,214); /* Old browsers */
	-webkit-box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
	-moz-box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
	-ms-box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
	-o-box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
	box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
}

div#accept_request, div#add_friend {
	width: 110px;
	margin: auto;
	margin-bottom: 14px;
}

div#accept_request input, div#add_friend input {
	width: 110px;
	margin: auto;
	font-family: Verdana;
	font-size: 12px;
	padding: 5px;
	text-align: center;
	border: 1px solid rgb(150, 150, 150);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	color: rgb(75, 75, 75);
	-webkit-box-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
	-moz-box-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
	-ms-box-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
	-o-box-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
	box-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

div#accept_request input, div#add_friend input {
	background: rgb(238,238,238); /* Old browsers */	
}

div#accept_request input:hover, div#accept_request input:focus, div#add_friend input:hover, div#add_friend input:focus {
	background: rgb(248,248,248); /* Old browsers */
	border: 1px solid rgb(160, 160, 160);	
}

div#accept_request input:active, div#add_friend input:active {
	background: rgb(214,214,214); /* Old browsers */
	-webkit-box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
	-moz-box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
	-ms-box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
	-o-box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
	box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
}