/* share.css */
div#share_form {
	text-align: center;
}

div#share_form_signup {
	text-align: center;
	margin-top: 2px;
}

div#share_form_signup a {
	margin: auto;
	display: block;
	width: 122px;
	text-shadow: 0px -1px 1px rgb(0, 0, 0);
	font-size: 20px;
	text-decoration: none;
	padding: 10px;
	border: 1px solid rgb(61, 174, 31);
	color: rgb(255, 255, 255);
	font-family: Verdana;
	font-weight: bold;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all .2s linear;
	-khtml-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	-webkit-box-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
	-khtml-box-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
	-moz-box-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
	-ms-box-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
	-o-box-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
	box-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
}

div#share_form_signup a {
	background: rgb(180,227,145); /* Old browsers */
}

div#share_form_signup a:hover, div#share_form_signup a:focus {
	background: rgb(170,217,135); /* Old browsers */
	border: 1px solid rgb(41, 154, 11);
}

div#share_form_signup a:active {
	background: rgb(87,186,15); /* Old browsers */
	-webkit-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	-khtml-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	-moz-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	-ms-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	-o-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
}

div#share_form input#shared {
	text-align: center;
	width: 121px;
	border: 1px solid rgb(41, 154, 11);
	-webkit-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	-khtml-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	-moz-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	-ms-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	-o-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
}

div#share_form input#shared {
	background: rgb(87,186,15); /* Old browsers */
}

div#share_form input {
	background: none;
	font-size: 20px;
	font-family: Verdana;
	font-weight: bold;
	border: none;
	color: rgb(255, 255, 255);
	padding: 10px 0px;
	-webkit-transition: all .2s linear;
	-khtml-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid rgb(61, 174, 31);
	-webkit-box-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
	-khtml-box-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
	-moz-box-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
	-ms-box-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
	-o-box-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
	box-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
	text-shadow: 0px -1px 1px rgba(0, 0, 0, .25);
}

div#share_form input {
	background: rgb(180,227,145); /* Old browsers */
}

div#share_form input:hover, div#share_form input:focus {
	background: rgb(170,217,135); /* Old browsers */
	border: 1px solid rgb(41, 154, 11);
}

div#share_form input:active {
	background: rgb(87,186,15); /* Old browsers */
	-webkit-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	-khtml-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	-moz-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	-ms-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	-o-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
}

div#share_single {
	text-align: center;
	margin-top: 25px;
}

div#share_single a {
	font-family: Verdana;
	font-size: 14px;
	color: rgb(44, 175, 227);
	text-decoration: none;
	-webkit-transition: all .2s linear;
	-khtml-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

div#share_single a:hover {
	text-decoration: underline;
	color: rgb(4, 135, 187);
}

div#close_share_list {
	height: 20px;
	width: 100%;
	text-align: right;
}

div#close_share_list a {
	display: block;
	width: 100%;
	height: 20px;
	-webkit-transition: all .2s ease-in-out;
	-khtml-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

div#close_share_list a:hover {
	opacity: .75;
}

div#close_share_list img {
	width: 20px;
	height: 20px;
}

div#share_list {
	padding: 10px;
	padding-top: 5px;
	width: 190px;
	background: rgb(75, 75, 75);
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	position: absolute;
	display: none;
}

div#share_list p {
	text-align: center;
	font-family: Verdana;
	font-size: 11px;
	color: rgb(200, 200, 200);
	margin: 5px 0;
}

div#share_list div.field select {
	width: 100%;
}

div#share_list div.field input {
	width: 183px;
}

div#share_list div.field select, div#share_list div.field input {
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid rgb(200, 200, 200);
	padding: 3px;
	padding-left: 2px;
	font-family: Helvetica, Arial;
	font-size: 14px;
	color: rgb(75, 75, 75);
	-webkit-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	-khtml-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	-moz-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	-ms-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	-o-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	margin: 0;
	margin-top: 5px;
	margin-bottom: 5px;
	-webkit-transition: all .2s ease-in-out;
	-khtml-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

div#share_list div.field select:hover, div#share_list div.field input:hover {
	border: 1px solid rgb(150, 150, 150);
}

div#share_list div.field select:focus, div#share_list div.field input:focus {
	border: 1px solid rgb(48, 157, 207);
	-webkit-box-shadow: 0px 0px 5px rgba(48, 157, 207, .9);
	-khtml-box-shadow: 0px 0px 5px rgba(48, 157, 207, .9);
	-moz-box-shadow: 0px 0px 5px rgba(48, 157, 207, .9);
	-ms-box-shadow: 0px 0px 5px rgba(48, 157, 207, .9);
	-o-box-shadow: 0px 0px 5px rgba(48, 157, 207, .9);
	box-shadow: 0px 0px 5px rgba(48, 157, 207, .9);
}

div#share_list div.actions {
	text-align: right;
	margin-top: 20px;
}

div#share_list div.actions input {
	text-decoration: none;
	font-family: Verdana;
	font-size: 12px;
	padding: 5px 0px;
	text-align: center;
	border: 1px solid rgb(150, 150, 150);
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	color: rgb(75, 75, 75);
	-webkit-box-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
	-khtml-box-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
	-moz-box-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
	-ms-box-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
	-o-box-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
	box-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
}

div#share_list div.actions input {
	background: rgb(238,238,238); /* Old browsers */
}

div#share_list div.actions input:hover, div#share_list div.actions input:focus {
	background: rgb(248,248,248); /* Old browsers */
	border: 1px solid rgb(160, 160, 160);
}

div#share_list div.actions input:active {
	background: rgb(214,214,214); /* Old browsers */
	-webkit-box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
	-khtml-box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
	-moz-box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
	-ms-box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
	-o-box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
	box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
}

div#shared_deal_shared_by a {
	text-decoration: none;
	color: rgb(44, 175, 227);
	-webkit-transition: all .2s linear;
	-khtml-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

div#shared_deal_shared_by a:hover {
	color: rgb(4, 135, 187);
	text-decoration: underline;
}

ul.ui-autocomplete {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 188px;
	border: 1px solid rgb(200, 200, 200);
}

ul.ui-autocomplete li {
	padding: 0;
	margin: 0;
}

ul.ui-autocomplete li a {
	font-family: Helvetica, Arial;
	font-size: 14px;
	display: block;
	background: rgb(255, 255, 255);
	padding: 5px;
}

ul.ui-autocomplete li a:hover {
	text-decoration: none;
	background: rgb(200, 200, 200);
}

/* sidebar.css */
div.page_sidebar {
	width: 220px;
	float: left;
}

div#sidebar_title {
	padding: 10px 15px;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 16px;
	color: #2CAFE3;
	background: #ADD9E4;
	margin-bottom: 2px;
	-webkit-border-top-left-radius: 5px;
	-khtml-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-ms-border-top-left-radius: 5px;
	-o-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-khtml-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-ms-border-top-right-radius: 5px;
	-o-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
}

div#sidebar_end {
	height: 20px;
	background: #ADD9E4;
	margin-top: 1px;
	-webkit-border-bottom-left-radius: 5px;
	-khtml-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-ms-border-bottom-left-radius: 5px;
	-o-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-khtml-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-ms-border-bottom-right-radius: 5px;
	-o-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

div.sidebar_nav {
	width: 220px;
	height: 40px;
	margin-bottom: 1px;
	background: #FFFFFF;
	-webkit-transition: all .2s linear;
	-khtml-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

div.sidebar_nav:hover {
	background: #ADD9E4;
}

div.sidebar_nav_title {
	width: 150px;
	float: left;
}

div.sidebar_nav_title a {
	display: block;
	width: 190px;
	padding: 11px 15px;
	text-decoration: none;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 16px;
	color: #969696;
}

div.sidebar_nav_arrow {
	width: 15px;
	height: 20px;
	float: right;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 15px;
}

div.sidebar_nav_arrow img {
	width: 15px;
	height: 20px;
}

div.sidebar_nav_arrow a {
	display: block;
	width: 15px;
	height: 20px;
}

.page_selected {
	background: #ADD9E4;
}

/* side_deal.css */
div#side_deal {
	width: 17%;
	float: left;
	background: rgb(255, 255, 255);
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	border: 2px solid rgb(148, 222, 240);
	padding: 1%;
}

div#side_deal_title {
	border-bottom: 1px solid rgb(200, 200, 200);
}

div#side_deal_title h1 {
	font-family: Verdana;
	font-size: 20px;
	color: rgb(75, 75, 75);
	margin: 0;
	padding-bottom: 5px;
}

div#side_deal_content {
	padding: 5px;
}

div#side_deal_content h1 {
	font-family: Helvetica;
	font-size: 14px;
	font-weight: bold;
	color: rgb(75, 75, 75);
	margin: 0;
	padding: 5px 0px;
}

div.side_deals ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

div.side_deals a {
	text-decoration: none;
	color: rgb(150, 150, 150);
	font-size: 12px;
	font-weight: bold;
	font-family: Helvetica;
}

div.side_deals a:hover {
	opacity: .75;
	text-decoration: underline;
}

/* subcomment.css */
div#subcomments_list {
	width: 565px;
	margin-left: 60px;
	padding: 5px 10px;
}

div.hidden_subcomment_form {
	display: none;
}

div#subcomment_form {
	height: 50px;
}

div#subcomment_form div.field textarea.subcomment_textarea_2 {
	float: left;
	width: 438px;
	padding: 5px;
	height: 16px;
	font-family: Helvetica, Arial;
	font-size: 14px;
	color: rgb(75, 75, 75);
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid rgb(200, 200, 200);
	resize: none;
	margin: 0;
	margin-top: 6px;
	margin-left: 5px;
	margin-bottom: 10px;
	-webkit-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	-khtml-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	-moz-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	-ms-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	-o-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
}

div#subcomment_form div.field textarea.subcomment_textarea {
	float: left;
	width: 488px;
	padding: 5px;
	height: 16px;
	font-family: Helvetica, Arial;
	font-size: 14px;
	color: rgb(75, 75, 75);
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid rgb(200, 200, 200);
	resize: none;
	margin: 0;
	margin-top: 6px;
	margin-left: 5px;
	margin-bottom: 10px;
	-webkit-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	-khtml-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	-moz-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	-ms-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	-o-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
}

div#subcomment_form div.field textarea:hover {
	border: 1px solid rgb(150, 150, 150);
}

div#subcomment_form div.field textarea:focus {
	border: 1px solid rgb(48, 157, 207);
	-webkit-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	-khtml-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	-moz-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	-ms-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	-o-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
}

div.reply {
	display: none;
}

div#subcomment_form div.actions {
	width: 46px;
	float: right;
}

div#subcomment_form div.actions input {
	text-decoration: none;
	font-family: Verdana;
	font-size: 12px;
	padding: 5px 0px;
	text-align: center;
	border: 1px solid rgb(150, 150, 150);
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	color: rgb(75, 75, 75);
	-webkit-box-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
	-khtml-box-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
	-moz-box-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
	-ms-box-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
	-o-box-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
	box-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
	margin: 0;
	margin-top: 6px;
}

div#subcomment_form div.actions input {
	background: rgb(238,238,238); /* Old browsers */
}

div#subcomment_form div.actions input:hover, div#subcomment_form div.actions input:focus {
	background: rgb(248,248,248); /* Old browsers */
	border: 1px solid rgb(160, 160, 160);
}

div#subcomment_form div.actions input:active {
	background: rgb(214,214,214); /* Old browsers */
	-webkit-box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
	-khtml-box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
	-moz-box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
	-ms-box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
	-o-box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
	box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
}

div.subcomment_form_gravatar {
	height: 40px;
	width: 40px;
	vertical-align: top;
	padding: 5px;
	float: left;
	display: none;
	text-align: center;
}

div.subcomment_form_gravatar_2 {
	height: 40px;
	width: 40px;
	vertical-align: top;
	padding: 5px;
	float: left;
	text-align: center;
}

div#gravatar_subcomment {
	width: 40px;
	height: 40px;
	vertical-align: top;
	border-top: 1px solid rgb(200, 200, 200);
	padding: 5px;
	float: left;
	text-align: center;
}

div#subcomment {
	width: 446px;
	border-top: 1px solid rgb(200, 200, 200);
	padding: 5px;
	float: left;
}

div#subcomment_user {
	margin-bottom: 3px;
}

div#subcomment_user a {
	font-family: Helvetica, Arial;
	font-size: 14px;
	color: rgb(44, 175, 227);
	text-decoration: none;
	-webkit-transition: all .2s linear;
	-khtml-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

div#subcomment_user a:hover {
	color: rgba(4, 135, 187, 1);
}

div#subcomment_user span {
	font-family: Helvetica, Arial;
	font-size: 14px;
	color: rgb(75, 75, 75);
	margin-bottom: 3px;
}

div#subcomment_content {
	font-family: Helvetica, Arial;
	font-size: 14px;
	color: rgb(75, 75, 75);
	margin-bottom: 3px;
}

div#subcomment_timestamp {
	font-family: Verdana;
	font-size: 10px;
	color: rgb(150, 150, 150);
	margin-bottom: 5px;
}

a.delete_link {
	text-decoration: none;
	color: rgb(44, 175, 227);
	-webkit-transition: all .2s linear;
	-khtml-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

a.delete_link:hover {
	text-decoration: underline;
	color: rgb(4, 135, 187);
}

div#subcomment_delete {
	width: 44px;
	padding: 5px;
	float: right;
}

div#subcomment_delete a {
	font-family: Verdana;
	font-size: 14px;
	color: rgb(44, 175, 227);
	text-decoration: none;
}

div#subcomment_delete a:hover {
	text-decoration: underline;
	color: rgb(4, 135, 187);
}

/* user_photo.css */
img#user_photo_subcomment {
	max-height: 40px;
	max-width: 40px;
}

img#user_photo_small {
	max-height: 50px;
	max-width: 50px;
}

img#user_photo_medium {
	max-height: 211px;
	max-width: 211px;
}

img#cropbox {
	max-height: 500px;
	max-width: 500px;
}

/* Voting.css */
div#user_like, div#user_dislike {
	display: none;
	padding: 10px;
	background: rgb(75, 75, 75);
	color: rgb(255, 255, 255);
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	position: absolute;
	font-family: Verdana;
	font-size: 12px;
	margin-top: -22px;
	margin-left: 10px;
}

div#user_voted_triangle {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid rgb(75, 75, 75);
	margin-top: 23px;
	margin-left: -50px;
}

/* Watchers.css */
div#show_watchers {
	display: none;
	padding: 10px;
	background: rgb(75, 75, 75);
	color: rgb(255, 255, 255);
	width: 172px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	position: absolute;
}

div#show_watchers ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

div#show_watchers ul li {
	font-family: Verdana;
	font-size: 12px;
	padding: 5px 0px;
}