/* user_photo.css */
img#user_photo_subcomment {
	max-height: 40px;
	max-width: 40px;
}

img#user_photo_small {
	max-height: 50px;
	max-width: 50px;
}

img#user_photo_medium {
	max-height: 211px;
	max-width: 211px;
}

img#cropbox {
	max-height: 500px;
	max-width: 500px;
}

/* Voting.css */
div#user_like, div#user_dislike {
	display: none;
	padding: 10px;
	background: rgb(75, 75, 75);
	color: rgb(255, 255, 255);
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	position: absolute;
	font-family: Verdana;
	font-size: 12px;
	margin-top: -22px;
	margin-left: 10px;
}

div#user_voted_triangle {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid rgb(75, 75, 75);
	margin-top: 23px;
	margin-left: -50px;
}

/* Watchers.css */
div#show_watchers {
	display: none;
	padding: 10px;
	background: rgb(75, 75, 75);
	color: rgb(255, 255, 255);
	width: 172px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	position: absolute;
}

div#show_watchers ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

div#show_watchers ul li {
	font-family: Verdana;
	font-size: 12px;
	padding: 5px 0px;
}