/* colors.css */
div#colors {
	background: rgba(0, 0, 0, 1);
	font-family: Verdana;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	width: 50%;
	margin: auto;
	padding: 20px 0px;
}

.iframe_blue {
	color: rgba(173, 217, 228, 1);
}

.background_blue_start {
	color: rgba(214, 249, 255, 1);
}

.background_blue_end {
	color: rgba(158, 232, 250, 1);
}

.header_blue {
	color: rgba(71, 224, 255, 1);
}

.dark_blue {
	color: rgba(44, 175, 227, 1);
}

.dark_blue_hover {
	color: rgba(4, 135, 187, 1);
}

.border_blue {
	color: rgba(148, 222, 240, 1);
}

.title_background_blue {
	color: rgba(173, 217, 228, 1);
}

.blue_background {
	color: rgba(200, 239, 249, 1);
}

.blue {
	color: rgba(48, 157, 207, 1);
}

.red {
	color: rgba(255, 26, 0, 1);
}

.green {
	color: rgba(97, 196, 25, 1);
}

.green_light {
	color: rgba(101, 209, 84, 1);
}

.green_border {
	color: rgba(41, 154, 11, 1);
}

.green_border_header {
	color: rgba(110, 220, 90, 1);
}

.grey_25 {
	color: rgba(25, 25, 25, 1);
}

.grey_75 {
	color: rgba(75, 75, 75, 1);
}

.grey_150 {
	color: rgba(150, 150, 150, 1);
}

.grey_200 {
	color: rgba(200, 200, 200, 1);
}

/* comment.css */
div#comments_index {
	width: 700px;
	padding: 5px;
	background: rgba(255, 255, 255, 1);
	border: 1px solid rgba(200, 200, 200, 1);
	float: right;
}

div#comment_user a#comment_index_at_deal {
	font-size: 12px;
	color: rgba(150, 150, 150, 1);
	-webkit-transition: all .2s linear;
	-khtml-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

div#comment_user a#comment_index_at_deal:hover {
	text-decoration: underline;
	opacity: .75;
}

div.comment {
	width: 589px;
	text-align: left;
}

div#comment_form {
	margin-bottom: 10px;
}

div#gravatar_comment {
	width: 50px;
	height: 50px;
	vertical-align: top;
	border-top: 1px dotted rgba(200, 200, 200, 1);
	padding: 5px;
	float: left;
	text-align: center;
}

div#comment {
	width: 509px;
	border-top: 1px dotted rgba(200, 200, 200, 1);
	padding: 5px 10px;
	float: left;
}

div#comment_user {
	margin-bottom: 5px;
}

div#comment_user a {
	font-family: Helvetica, Arial;
	font-size: 14px;
	color: rgba(44, 175, 227, 1);
	text-decoration: none;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

div#comment_user a:hover {
	color: rgba(4, 135, 187, 1);
}

div#comment_content {
	font-family: Helvetica, Arial;
	font-size: 14px;
	color: rgba(75, 75, 75, 1);
	margin-bottom: 5px;
}

div#comment_content p {
	word-wrap: break-word;
}

div#comment_timestamp {
	font-family: Verdana;
	font-size: 10px;
	color: rgba(150, 150, 150, 1);
	margin-bottom: 10px;
}

div#comment_timestamp a.reply_link {
	text-decoration: none;
	color: rgba(44, 175, 227, 1);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

div#comment_timestamp a.reply_link:hover {
	text-decoration: underline;
	color: rgba(4, 135, 187, 1);
}

div#delete {
	width: 44px;
	padding: 5px;
	float: right;
}

div#delete a {
	font-family: Verdana;
	font-size: 14px;
	color: rgba(44, 175, 227, 1);
	text-decoration: none;
}

div#delete a:hover {
	text-decoration: underline;
	color: rgba(4, 135, 187, 1);
}

div#comment_form div.field {
	text-align: left;
}

div#comment_form div.field textarea {
	width: 577px;
	padding: 5px;
	height: 32px;
	font-family: Helvetica, Arial;
	font-size: 14px;
	color: rgba(75, 75, 75, 1);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid rgba(200, 200, 200, 1);
	margin-top: 0px;
	margin-bottom: 10px;
	resize: none;
	-webkit-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	-moz-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	-ms-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	-o-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	overflow: hidden;
}

div#comment_form div.field textarea:hover {
	border: 1px solid rgba(150, 150, 150, 1);
}

div#comment_form div.field textarea:focus {
	border: 1px solid rgba(48, 157, 207, 1);
	-webkit-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	-moz-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	-ms-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	-o-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
}

div#comment_form div.actions {
	text-align: right;
	display: none;
}

div#comment_form div.actions input {
	margin: 0;
}

div#comment_form div.actions input, div#comment_form div.actions a#submit {
	text-decoration: none;
	font-family: Verdana;
	font-size: 12px;
	padding: 5px;
	text-align: center;
	border: 1px solid rgba(150, 150, 150, 1);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	color: rgba(75, 75, 75, 1);
	-webkit-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	-moz-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	-ms-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	-o-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
}

div#comment_form div.actions input, div#comment_form div.actions a#submit {
	background: rgb(238,238,238); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-8 */tartColorstr='#f8f8f8', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-8 */
}

div#comment_form div.actions input:hover, div#comment_form div.actions input:focus, div#comment_form div.actions a#submit:hover, div#comment_form div.actions a#submit:focus {
	background: rgb(248,248,248); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNmQ2ZDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(214,214,214,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,248,248,1)), color-stop(100%,rgba(214,214,214,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(214,214,214,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(214,214,214,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(214,214,214,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(214,214,214,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-8 */
	border: 1px solid rgba(160, 160, 160, 1);
}

div#comment_form div.actions input:active, div#comment_form div.actions a#submit:active {
	background: rgb(214,214,214); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q2ZDZkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOGY4ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(214,214,214,1) 0%, rgba(248,248,248,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,214,214,1)), color-stop(100%,rgba(248,248,248,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(248,248,248,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(248,248,248,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(248,248,248,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(214,214,214,1) 0%,rgba(248,248,248,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-8 */
	-webkit-box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
	-moz-box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
	-ms-box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
	-o-box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
	box-shadow: 0px 1px 2px rgba(150, 150, 150, 1) inset;
}

#comment_content_login {
	width: 577px;
	padding: 5px;
	height: 32px;
	font-family: Helvetica, Arial;
	font-size: 14px;
	color: rgb(150, 150, 150);
	border: 1px solid rgb(200, 200, 200);
	margin-top: 0px;
	margin-bottom: 10px;
	resize: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	-moz-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	-ms-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	-o-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	overflow: hidden;
}

#comment_content_login:hover {
	border: 1px solid rgb(150, 150, 150);
}

#comment_content_login:focus {
	border: 1px solid rgb(48, 157, 207);
	-webkit-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	-moz-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	-ms-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	-o-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
}

/* control_panel.css */
div#user_index {
	float: right;
	width: 700px;
}

div#user_index_panel {
	background: rgba(255, 255, 255, 1);
	border: 1px solid rgba(148, 222, 240, 1);
	margin-bottom: 10px;
}

div#user_index_panel_title {
	background: rgba(173, 217, 228, 1);
	font-weight: bold;
}

div#user_index_panel_title p a {
	display: block;
	padding: 10px;
	width: 198px;
	height: 20px;
	text-decoration: none;
	color: rgba(44, 175, 227, 1);
	-webkit-transition: all .2s linear;
	-khtml-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

div#user_index_panel_title p a:hover{
	color: rgba(4, 135, 187, 1);
}

div#user_index_control_panel {
	padding: 10px;
}

div#user_index_control_panel p {
	font-size: 12px;
	font-weight: bold;
	font-family: Helvetica, Arial;
	margin-bottom: 5px;
}

div#user_index_control_panel a {
	font-size: 12px;
	font-weight: bold;
	font-family: Helvetica, Arial;
	margin-bottom: 5px;
	color: rgba(150, 150, 150, 1);
	text-decoration: none;
}

div#user_index_control_panel a:hover {
	text-decoration: underline;
	color: rgba(200, 200, 200, 1);
}

div#user_index_control_panel table {
	width: 100%;
}

div#user_index_control_panel td {
	padding: 0;
	width: 50%;
}

div#user_index_control_panel td.model_count {
	text-align: right;
}

div#user_index_control_panel td.model_count span {
	color: rgba(44, 175, 227, 1);
}

div#user_index_control_panel ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

div.joined {
	font-family: Verdana;
	font-size: 12px;
	position: absolute;
	padding: 5px;
	background: rgba(75, 75, 75, .75);
	color: rgba(255, 255, 255, 1);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	display: none;
}

div#user_index ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/* create_deals.css */
div#create_deals {
	border: 1px solid rgba(200, 200, 200, 1);
	padding: 20px;
	background: rgba(255, 255, 255, 1);
	width: 700px;
}

div#create_deals a {
	text-decoration: none;
	font-family: Verdana;
	font-size: 14px;
	color: rgba(44, 175, 227, 1);
}

div#create_deals a:hover {
	text-decoration: underline;
	color: rgba(4, 135, 187, 1);
}