/* footer.css */
.footer {
	height: 30px;
	width: 100%;
	overflow: visible;
  margin-top: -30px;
  background: rgb(100, 100, 100);
  -webkit-box-shadow: 0px -1px 5px rgba(0, 0, 0, .4);
  -khtml-box-shadow: 0px -1px 5px rgba(0, 0, 0, .4);
  -moz-box-shadow: 0px -1px 5px rgba(0, 0, 0, .4);
  -ms-box-shadow: 0px -1px 5px rgba(0, 0, 0, .4);
  -o-box-shadow: 0px -1px 5px rgba(0, 0, 0, .4);
  box-shadow: 0px -1px 5px rgba(0, 0, 0, .4);
}

.copyright {
	text-align: center;
  font-family: Helvetica, Arial;
  color: rgb(200, 200, 200);
  font-size: 11px;
  height: 14px;
  padding: 8px 0px;
}

/* full_screen.css */
#fs_wrapper {
	min-height: 100%;
	min-width: 970px;
	position: relative;
}

#fs_content {
	padding: 10px;
	padding-bottom: 40px;
}

div#endless_pagination {
	display: none;
	width: 100%;
}

div#empty_deals {
	text-align: center;
	margin-top: 20px;
}

div#empty_deals h1 {
	margin: 0;
	font-family: Helvetica, Arial;
	font-size: 24px;
	color: rgb(75, 75, 75);
	margin-bottom: 10px;
}

div#empty_deals h2 {
	margin: 0;
	font-family: Helvetica, Arial;
	font-size: 24px;
	color: rgb(75, 75, 75);
}

div#empty_deals h2 a {
	-webkit-transition: all .2s linear;
	-khtml-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}