/* main.css */
html, body {
	height: 100%;
}

body {
  background: rgba(214, 249, 255, 1);
}

#wrapper {
	min-width: 951px;
	min-height: 100%;
	position: relative;
}

#content {
	padding: 10px;
	padding-bottom: 187px;   /* Height of the footer element */
	width: 951px;
	margin: auto;
}

#debug {
	position: absolute;
	z-index: 100;
}

div.clear {
	height: 0;
	font-size: 1px;
	margin: 0;
	padding: 0;
	line-height: 0;
	clear: both;
}

h1, h2, h3, h4, h5 {
	font-family: Helvetica, Arial;
}

a {
	text-decoration: none;
	color: rgba(44, 175, 227, 1);
}

a:hover {
	text-decoration: underline;
	color: rgba(4, 135, 187, 1);
}

a.rebate_link {
	color: rgba(75, 75, 75, 1);
}

a.rebate_link:hover {
	color: rgba(150, 150, 150, 1);
}

p {
	font-family: Helvetica, Arial;
	color: rgba(75, 75, 75, 1);
}

pre.debug_dump {
	font-family: Verdana;
	font-size: 10px;
	color: rgba(255, 255, 255, 1);
	text-align: left;
	float: left;
	width: 500px;
}

div.flash {
	font-family: Verdana;
	font-size: 14px;
	padding: 10px;
}

.success {
	background: rgba(230, 239, 194, 1);
	border: 1px solid rgba(110, 220, 90, 1);
	color: rgba(38, 68, 9, 1);
}

.error {
	background: rgba(251, 227, 228, 1);
	border: 1px solid rgba(255, 26, 0, 1);
	color: rgba(138, 31, 17, 1);
}

.notice {
	background: rgba(255, 246, 191, 1);
	border: 1px solid rgba(255, 211, 36, 1);
	color: rgba(81, 71, 33, 1);
}

/* my_account_menu.css */
div#my_account_drop_down {
	position: absolute;
	right: 0;
	width: 150px;
	z-index: 100;
	margin-top: 10px;
}

div#my_account_drop_down ul {
	padding: 0;
	margin: 0;
	background: rgba(150, 150, 150, .9);
}

div#my_account_drop_down ul li {
	text-align: left;
	display: block;
	background: rgba(75, 75, 75, .9);
	-webkit-transition: all .2s linear;
	-khtml-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	border-bottom: 1px solid rgba(150, 150, 150, .9);
}

div#my_account_drop_down ul li:hover {
	background: rgba(100, 100, 100, .9);
}

div#my_account_drop_down ul li#logout {
	border: none;
}

div#my_account_drop_down a {
	display: block;
	width: 130px;
	padding: 10px 10px;
	text-decoration: none;
	font-family: Verdana;
	font-size: 11px;
	color: rgba(255, 255, 255, 1);
	-webkit-transition: all .2s linear;
	-khtml-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

div#my_account_drop_down a:hover {
	color: rgba(71, 224, 255, 1);
}

a#my_account {
	position: relative;
	bottom: 16px;
	line-height: 50px;
	display: block;
	width: 100px;
	height: 46px;
	text-decoration: none;
  color: #FFFFFF;
  font-family: Verdana;
  font-size: 13px;
/*  padding: 15px 20px;*/
  -webkit-transition: all .2s linear;
  -khtml-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

a#my_account:hover {
	color: rgba(71, 224, 255, 1);
}

div#my_account_arrow {
	margin-left: 70%;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid rgba(100, 100, 100, .75);
}

span#my_account_notification {
	position: absolute;
	font-weight: bold;
	font-size: 16px;
}

img#notice {
	margin-top: 19px;
}