div#signup {
	width: 450px;
	float: right;
	background: rgba(255, 255, 255, 1);
	border: 1px solid rgba(148, 222, 240, 1);
}

div#signup_info {
	width: 450px;
	float: left;
	background: rgba(255, 255, 255, 1);
	border: 1px solid rgba(148, 222, 240, 1);
	height: 381px;
}

div#signup_header, div#signup_info_header {
	background: rgba(173, 217, 228, 1);
	padding: 20px;
}

div#signup_header h1, div#signup_info_header h1 {
	font-family: Verdana;
	font-size: 22px;
	color: rgba(44, 175, 227, 1);
	margin: 0;
}

div#signup_form {
	padding: 20px;
	text-align: right;
}

div#signup_info_body {
	padding: 20px;
}

div#signup_info_body p {
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 14px;
}

div#signup_info_main {
	padding: 20px;
}

div#signup_info_main p {
	height: 40px;
	background: url("/assets/check_mark.png");
	background-size: 34px 34px;
	background-repeat: no-repeat;
	background-position: left 0px;
	text-indent: 45px;
	line-height: 35px;
	font-size: 14px;
}

div#signup_form div.field {
	margin-bottom: 15px;
}

div#signup_form div.field input {
	width: 398px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid rgba(200, 200, 200, 1);
	padding: 5px;
	font-family: Verdana;
	font-size: 14px;
	color: rgba(75, 75, 75, 1);
	margin: 0;
	margin-bottom: 5px;
	-webkit-transition: all .2s ease-in-out;
	-khtml-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	-webkit-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	-khtml-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	-moz-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	-ms-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	-o-box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
	box-shadow: 0px 0px 1px rgba(150, 150, 150, 1) inset;
}

div#signup_form div.field input:hover {
	border: 1px solid rgba(150, 150, 150, 1);
}

div#signup_form div.field input:focus {
	border: 1px solid rgba(48, 157, 207, 1);
	-webkit-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	-khtml-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	-moz-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	-ms-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	-o-box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	box-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
}

div#signup_form div.actions {
	font-family: Verdana;
	font-size: 12px;
	color: rgba(150, 150, 150, 1);
}

div#signup_form div.actions {
	margin-top: 25px;
}

div#signup_form div.actions a {
	-webkit-transition: all .2s ease-in-out;
	-khtml-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

div#signup_form div.actions input {
	text-shadow: 0px -1px 1px rgba(0, 0, 0, .25);
	margin: 0;
	margin-left: 80px;
	background: none;
	font-size: 14px;
	font-family: Helvetica, Arial;
	font-weight: bold;
	border: none;
	color: rgba(255, 255, 255, 1);
	padding: 10px 15px;
	-webkit-transition: all .2s linear;
	-khtml-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid rgba(44, 175, 227, 1);
	-webkit-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1);
	-khtml-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1);
	-moz-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1);
	-ms-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1);
	-o-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1);
	box-shadow: 0px 1px 5px rgba(150, 150, 150, 1);
}

div#signup_form div.actions input {
	background: rgb(173,217,228); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FkZDllNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyY2FmZTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(173,217,228,1) 0%, rgba(44,175,227,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(173,217,228,1)), color-stop(100%,rgba(44,175,227,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(173,217,228,1) 0%,rgba(44,175,227,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(173,217,228,1) 0%,rgba(44,175,227,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(173,217,228,1) 0%,rgba(44,175,227,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(173,217,228,1) 0%,rgba(44,175,227,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#add9e4', endColorstr='#2cafe3',GradientType=0 ); /* IE6-8 */
}

div#signup_form div.actions input:hover, div#signup_form div.actions input:focus {
	background: rgb(163,207,218); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EzY2ZkYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMmE1ZDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(163,207,218,1) 0%, rgba(34,165,217,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(163,207,218,1)), color-stop(100%,rgba(34,165,217,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(163,207,218,1) 0%,rgba(34,165,217,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(163,207,218,1) 0%,rgba(34,165,217,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(163,207,218,1) 0%,rgba(34,165,217,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(163,207,218,1) 0%,rgba(34,165,217,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3cfda', endColorstr='#22a5d9',GradientType=0 ); /* IE6-8 */
	border: 1px solid rgba(4, 135, 187, 1);
}

div#signup_form div.actions input:active {
	background: rgb(34,165,217); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyYTVkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhM2NmZGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(34,165,217,1) 0%, rgba(163,207,218,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(34,165,217,1)), color-stop(100%,rgba(163,207,218,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(34,165,217,1) 0%,rgba(163,207,218,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(34,165,217,1) 0%,rgba(163,207,218,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(34,165,217,1) 0%,rgba(163,207,218,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(34,165,217,1) 0%,rgba(163,207,218,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22a5d9', endColorstr='#a3cfda',GradientType=0 ); /* IE6-8 */
	-webkit-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	-khtml-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	-moz-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	-ms-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	-o-box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
	box-shadow: 0px 1px 5px rgba(150, 150, 150, 1) inset;
}

div#error_explanation {
	width: 410px;
	margin: 0;
	padding: 0;
}

div#error_explanation ul {
	padding: 0;
	margin: 0;
	padding-left: 40px;
	margin-bottom: 10px;
}

div#error_explanation ul li {
	text-align: left;
	font-family: Verdana;
	font-size: 12px;
	color: rgba(255, 26, 0, 1);
	margin-bottom: 5px;
}

div#error_explanation ol {
	padding-left: 20px;
	margin-top: 10px;
}

div#accept_terms {
	font-family: Verdana;
	font-size: 12px;
	color: rgb(150, 150, 150);
	margin-top: 30px;
	margin-bottom: 15px;
}

div#accept_terms a {
	text-decoration: none;
	color: rgba(44, 175, 227, 1);
	-webkit-transition: all .2s ease-in-out;
	-khtml-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

div#accept_terms a:hover {
	color: rgba(4, 135, 187, 1);
	text-decoration: underline;
}

div#accept_terms input#user_accept_terms {
	width: 13px;
	height: 13px;
	padding: 0;
	margin: 0;
	margin-right: 5px;
	position: relative;
	top: 2px;
}

div#facebook_signup_referral {
	margin-top: 60px;
	margin-bottom: 29px;
}

div#referral_info {
	text-align: center;
}

div#referral_info p {
	font-family: Helvetica, Arial;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: rgb(75, 75, 75);
}

div#no_facebook {
	text-align: center;
	margin-top: 121px;
}

div#no_facebook p {
	font-weight: normal;
	font-family: Verdana;
	font-size: 12px;
	color: rgb(150, 150, 150);
}

.user_signup_messages {
	height: 13px;
	width: 100%;
}

.user_signup_example {
	display: none;
}

.user_signup_example p {
	font-family: Verdana;
	font-size: 11px;
	text-align: left;
	padding-left: 5px;
	color: rgb(150, 150, 150);
	margin: 0;
}

.user_signup_error {
	display: none;
	font-family: Verdana;
	font-size: 11px;
	color: rgb(255, 26, 0);
	text-align: left;
	padding-left: 5px;
}

.user_signup_good {
	display: none;
	font-family: Verdana;
	font-size: 11px;
	color: rgb(97, 196, 25);
	text-align: left;
	padding-left: 5px;
}