/* unsubscribe.css */
div#unsubscribe {
	width: 550px;
	height: 300px;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(148, 222, 240);
	margin: 0 auto;
	-webkit-box-shadow: 1px 1px 10px rgba(150, 150, 150, .75);
	-khtml-box-shadow: 1px 1px 10px rgba(150, 150, 150, .75);
	-moz-box-shadow: 1px 1px 10px rgba(150, 150, 150, .75);
	-ms-box-shadow: 1px 1px 10px rgba(150, 150, 150, .75);
	-o-box-shadow: 1px 1px 10px rgba(150, 150, 150, .75);
	box-shadow: 1px 1px 10px rgba(150, 150, 150, .75);
}

div#unsubscribe_header {
	background: rgb(173, 217, 228);
	padding: 20px;
	font-family: Verdana;
	font-size: 22px;
	color: rgb(44, 175, 227);
}

div#unsubscribe_body {
	padding: 20px;
}

div#unsubscribe_body p {
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 14px;
}

/* voting.css */
div#user_like, div#user_dislike {
	display: none;
	padding: 10px;
	background: rgba(75, 75, 75, .9);
	color: rgba(255, 255, 255, 1);
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	position: absolute;
	font-family: Verdana;
	font-size: 12px;
	margin-top: -50px;
	margin-left: -20px;
}

div#user_voted_triangle {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid rgba(75, 75, 75, .9);
	margin-top: 10px;
	margin-left: 30px;
}

/* watchers.css */
div#watchers {
	float: right;
	width: 755px;
}

ul#watchers {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

div#show_watchers {
	display: none;
	padding: 10px;
	background: rgba(75, 75, 75, .9);
	color: rgba(255, 255, 255, 1);
	width: 172px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	position: absolute;
}

div#show_watchers ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

div#show_watchers ul li {
	font-family: Verdana;
	font-size: 12px;
	padding: 5px 0px;
}

div#watching_deals {
	width: 724px;
	margin: auto;
}