<%= render 'layouts/header' %>
<div id="contentNoPad" data-role="content">
	<div id="featuredDeals" class="dealList">
		<%= render :partial => 'deals/list_deal', :collection => @deals, :as => :deal %>
	</div>
	<%= render 'deals/endless_pagination' %>
</div>