<!DOCTYPE html>
<html lang="en">
	<head>
		<%= javascript_include_tag 'chrome/previous_next.js' %>
		<%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta charset="UTF-8">
		<script type="text/javascript">
		// Google Analytics
			var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-28454790-1']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		  
			$(document).ready(function() {
				$('#deal_show_info a').attr("target", "_blank");
				$('textarea.subcomment_textarea').click(function() {
					return false;
				});
				$('textarea.subcomment_textarea_2').click(function() {
					return false;
				});
				$('a.reply_link').click(function() {
					return false;
				});
				$('.subcomment_textarea').autoResize();
				$('.subcomment_textarea_2').autoResize();
				
				$(".action_login").click(function() {
					$(".overlayOuter").hide(0, function() {
						$("body").removeClass("stationary");
						$("#dim_signup").fadeIn(200, function() {
							$("html, body").animate({ scrollTop: 0  }, 0);
			    		return false;
						});
					});
					$(".box_image").show()
				});
				$(".share_points").click(function() {
					$.ajax("/share_points");
				})
			});
			
			function showPointsPopup(points) {
				var o = $("#points_popup_overlay");
				var i = points
				o.hide();
				o.delay(300);
				o.fadeIn(200);
				o.delay(3000);
				o.fadeOut(100);
				$(".points_earned").text(i);
			}
			
			function showLeveledUp(title) {
				var x = $("#leveled_up_overlay");
				var i = title
				x.hide();
				x.delay(300);
				x.fadeIn(200);
				x.delay(3000);
				x.fadeOut(100);
				$(".leveled_up_to").text(i);
			}
		</script>
	</head>
	<div id="points_popup_overlay" class="points_popup_overlay">
		<p>You scored <span class="points_earned"></span> points!</p>
	</div>
	<div id="leveled_up_overlay" class="points_popup_overlay">
		<p>You leveled up to <span class="leveled_up_to"></span>!</p>
	</div>
	<%= yield %>
	<% if Rails.env.production? %>
		<script type="text/javascript" src="http://s.skimresources.com/js/28555X865329.skimlinks.js"></script>
		<script type="text/javascript">
		setTimeout(function(){var a=document.createElement("script");
		var b=document.getElementsByTagName('script')[0];
		a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0012/6975.js?"+Math.floor(new Date().getTime()/3600000);
		a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
		</script>
	<% end %>
</html>